<div class="section_copy">
  <h2>About <%= current_community %></h2>
  
  <p>Take some time to explore leading-edge content from many of today's most influential and respected alternative medical practitioners. Simply click on a heading, and you'll be taken to an overview page with articles, reprints, and interview transcripts. And make sure to discuss what you're thinking in the Discussions area!</p>
</div>
