*.tmproj
log/*.log
config/database.yml
config/ultrasphinx/*.conf
vendor/rails
.tm_last_run_ruby*
db/schema.rb
.DS_Store
.local_configuration
public/.integration_test_output_for_browser.html
public/avatars
tmp/*
.loadpath