<% @current_tab = :Discussions %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "Discussions", discussions_path %></li>
				<li><%= link_to h(snippet(@discussion.to_s)), @discussion %></li>
			</ul>
		</div>

		<%= create_discussion_link %>
	</div>

	<h2>Edit Discussion</h2>
	<%= render :partial => 'form', :locals => { :mode => :edit }  %>
</div>