<% @current_tab = :Discussions %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "Discussions", discussions_path %></li>
			</ul>
		</div>
		<% if current_user_can_post? %>
		<div class="action">
			<span class="button_left">&nbsp;</span><a href="<%= new_discussion_url %>" class="button"><span class="icon create">+</span><span class="text">Create a Discussion</span></a>
		</div>
	    <% end %>
	</div>

	<h2>Start a New Discussion</h2>
	<%= render :partial => 'form', :locals => { :mode => :new }  %>
</div>