<% responses.each do |response| -%>
<li>
    <em>in Discussion:</em>
    <%= link_to h(response.discussion), response.discussion %>
    <br/>
    Response Body: <%= h(response.body) %>
    <br/>
    <%= discussion_url(response.discussion) %>
</li>
<% end %>