<div id="primary">
  Search results:<br/>
  <br/>	
  
  <div id="resultset">
	  <%= render :partial=>"course_search_results" %>
	  <%= render :partial=>"article_search_results" %>
	  <%= render :partial=>"discussion_search_results" %>
	  <%= render :partial=>"user_search_results" %>
  </div>
</div>