<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Performance Lifestyle</title>
<link href="/themes/performancelifestyle.com/css/style.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<link href="/themes/performancelifestyle.com/css/styleIE.css" type="text/css" rel="stylesheet" />
<![endif]-->
</head>
<body>
<div id="header">
  <div class="headerinner">
    <!--Header -->
    <div id="logo">
      <h1> <a href="/" title="Manage Your Energy">PerformanceLifestyle | Manage Your Energy</a> </h1>
    </div>
    <ul class="account_nav">
      <li class="login"><a href="/login">Login</a></li>
    </ul>
  </div>
</div>
<div class="nav">
  <div class="nav_artwrapper"> <span class="nav_art"></span> </div>
</div>
<div class="mid_section">
  <div class="posrel">
    <div class="image"><span class="inner_img"></span></div>
  </div>
  <div id="content">
    <div id="left_content">
      <div class="tiopbanner">
        <div class="banner">
          <div class="banner_wrap">
            <h2 class="top_heading">Tired of...being tired?</h2>
            <p><em>Who isn't?</em></p>
            <p>Wouldn't it be great to know that you can <em>always</em> have the energy you need...<span class="underline">when</span> you need it? This FREE Performance Lifestyle e-book shows you how you can get your energy up today! Get it now - no strings attached. <strong>Just sign up using the box to the right, and you'll have your book instantly!</strong></p>
          </div>
        </div>
        <span class="bannerbot"><span></span></span> </div>
      <div class="midleftcontent">
        <h3>Start to understand energy and how to use it to your advantage &mdash; don't wait. In the free <em><strong>Manage Your Energy</strong></em> e-book, we are going to show you...</h3>
        <ul>
          <li>Ways to avoid the <em>stimulant delusion</em> and still <strong>increase your energy.</strong></li>
          <li>How you can maintain your health and <strong>achieve your goals</strong> without "hitting the wall" repeatedly or "falling off the wagon."</li>
          <li>Why your "Achiever Type" affects<strong> your energy levels.</strong></li>
          <li>What your grandparents knew about <em>managing energy</em> that you don't - and why it's still the key to <strong>sustaining success.</strong> </li>
          <li>Little known (yet dead simple to master) methods to <strong>keep you in control</strong> <em>of your energy reserves</em> so that you have enough energy to achieve success, consistently.</li>
        </ul>
        <p>But that's not all! It's just a small preview of what you'll find in this free Performance Life style e-book.
          <strong>Get your free copy right now by signing up today!</strong></p>
      </div>
    </div>
    <div id="sidebar"> <span class="topbar"></span>
      <div class="Midbar">
        <!--Side Section -->
          <div id="form_section">
            <h2>Get Free Access</h2>
            <% form_for :user, @user, :url => signup_url, :html => {:class => 'edit'} do | f | -%>
    					<%= f.error_messages %>
              <fieldset>
                <label for="user_First Name">First name</label>
                <input class="inp_text" id="user_first_name" name="user[first_name]" size="20" type="text" />
              </fieldset>
              <fieldset>
                <label for="user_Last Name">Last name</label>
                <input class="inp_text" id="user_last_name" name="user[last_name]" size="20" type="text" />
              </fieldset>
              <fieldset>
                <label for="user_Email Address">Email address</label>
                <input class="inp_text" id="user_email" name="user[email]" size="20" type="text" />
              </fieldset>
              <div class="accept">We respect your privacy and will not share your information with any third party, ever.</div>
              <fieldset class="btnsection">
              <input type="image" src="/themes/performancelifestyle.com/graphics/btn_sign_up.gif" class="float_left" />
              </fieldset>
            <% end -%>
          </div>
      </div>
      <span class="bottombar"></span> </div>
      <div id="adbar">
        <a href="http://www.zico.com/shop"><img src="/themes/performancelifestyle.com/graphics/Zico_Ad_190x172_v2.png" width="190" height="172" alt="Zico Coconut Water - Unleash your natural athlete"></a>
      </div>
  </div>
</div>
<div id="footer">
  <!--Footer -->
  <div class="content_area">
    <div class="credit"> <span class="float_right">
      <%= copyright_holder %> Powered by <a href="http://thoughtlead.com/">ThoughtLead</a></span> </div>  
  </div>
</div>
</body>
</html>
