<div id="main_content">
	<div class="title bar">
		<h2>About <%= h(current_community) %></h2>
	</div>

	<br />
	<h3>A personal message from Larina:</h3>

	<p>&ldquo;One of the things I remember most about my childhood was ice cream. My father owned an ice cream business (which made me very popular with my friends). It was called Gelato Fresco&mdash;homemade Italian ice cream in flavors as scrumptious as grasshopper chip (mint chip), mocha fudge, and strawberry champagne ice.</p>

	<p>So began my lifelong love of ice cream&mdash;and entrepreneurship. I always thought it was cool how my dad designed his own shops. I loved watching them multiply, from one shop to two to ten. Seeing his ice cream packaged in grocery stores filled me with pride. I loved watching happy families sitting on the benches outside his shops on summer evenings, enjoying their frozen treat after waiting in a long line that was well worth it. I loved how my father got to make his own hours, be his own boss, and be a great boss to his employees.</p>

	<p>But there were things I didn&rsquo;t love. With all the joys of entrepreneurship also came heartache in the form of crazy hours and stress, dishonest employees and business partners, isolation from other professionals, and profit margins not being met.</p>

	<p>Fast forward about 25 years and I&rsquo;m an entrepreneur myself. I know that being a business owner and helping other business owners is my calling in life. I&rsquo;ve been able to experience the same joys my father did, and the same stressors.</p>

	<p>For me, a social woman who loves to learn from others, the most difficult aspect has been finding other <em>successful</em> women business owners to network with. The other major challenge has been sorting through heaps and heaps of information and getting stuck in info overload, not knowing what to do first.</p>

	<p>I believe that as women our best way through the glass ceiling is to build our own buildings (businesses). If we create our own businesses, we are the boss, and we are best able to make a difference in this world&hellip;through our business and through the power of being a business owner.</p>

	<p>Because of all this, I came up with the idea to create a community of women entrepreneurs&hellip; a place that has the most helpful and tried and true resources because none of us has time to sort through everything out there! The resources would be organized in a way to make the path to business growth clear, stress free, and fun. I paired up with a remarkable team (the bright, creative, passionate people who make up ThoughtLead) to turn this vision into reality.</p>

	<p>In addition to my personal experience of entrepreneurship and my passion for women helping women, I bring over a decade of professional experience to this community. Over the past decade as a business psychologist, I&rsquo;ve honed my knowledge in the psychology of entrepreneurship, stress, anxiety, confidence, and success. I&rsquo;ve helped dozens of clients and audiences of thousands of women build thriving businesses, and I regularly contribute to media such as Inc. and Entrepreneur magazines. A <em>New York Times</em> bestselling author, my latest book is called <u>The Confident Leader: How the Most Successful People Go from Effective to Exceptional</u> and this is precisely what I want for you&mdash;to be confident, successful, and exceptional as a business owner&hellip;to make that difference that you are meant to make, with your business and in this world.&rdquo;</p>
	
</div>