<form class="edit">
<fieldset class="input">
<div class="column two">
</div>
</fieldset>
</form>

<% @current_tab = :Article %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "Library", library_url(:category => @category) %></li>
			</ul>
		</div>
	</div>

  <h2 class="separator">Upload Complete!</h2>
	<p>Your video has been uploaded and queued for processing. It should appear in your article shortly!</p>
  <p><%= link_to "View your article", article_url(@article, :host => @article.community.host), :target => "_top" %></p>

</div>