<% @current_tab = :Article %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "Library", library_url(:category => @category) %></li>
				<li><%= link_to h(@article), @article %></li>
			</ul>
		</div>
		<% if logged_in? && current_user.owner? %>
		<div class="action">
			<span class="button_left">&nbsp;</span><a href="<%= new_article_url %>" class="button"><span class="icon create">+</span><span class="text">Create an Article</span></a>
		</div>
	    <% end %>
	</div>

	<h2>Edit Article</h2>
	<%= render :partial => 'form', :locals => { :mode => :edit }  %>
</div>