/*
-----------------------------------------------
Site: ThoughtLead
Name: Content
----------------------------------------------- */


/* Global
----------------------------------------------- */
html {}
body {
	font: 62.5%/1.7 Helvetica, Arial, "Trebuchet MS", Verdana, sans-serif;
	color: #111;
}

p {margin: 1em 0;}

a {color: #005078; outline: none;}
a:hover {text-decoration: none;}

hr {display: none;}


/* Headlines
----------------------------------------------- */
h1, h2, h3, h4, h5, h6 {margin: 0.5em 0;}

#header {}
	#logo h1 {
		width: 373px; height: 88px;
		background-image: url(../images/headlines/h1_logo_bg.gif);
	}
		#logo h1 a {width: 373px; height: 88px;}

#content {}
	#primary h2,
	#primary h3,
	#primary h4 {
		letter-spacing: -0.05em;
		color: #005078;
	}
	#primary h2 {font-size: 2.5em;}
	#primary h3 {font-size: 1.6em;}
	#primary h4 {font-size: 1.3em;}

#secondary {}
	#secondary h3,
	#secondary h4 {
		letter-spacing: -0.025em;
		color: #333;
	}
	#secondary h3 {font-size: 1.3em;}
	#secondary .navigation h3 {
		margin: 0; padding: 10px 0 6px 20px;
	}
		#secondary .navigation h3 span {
			padding-right: 20px;
			background: url(../images/template/themes_icon.gif) center right no-repeat;
		}


.replace,
#logo h1,
#logo p.tagline {
	margin: 0; padding: 0;
	font-size: 1px;
	line-height: 1;
	text-indent: -9999px;
	background-repeat: no-repeat;
	overflow: hidden;
}
	.replace a,
	#logo h1 a {
		display: block;
		overflow: hidden;
	}


/* Header
----------------------------------------------- */
#header {}
	#logo {}
		#logo h1 {}
		#logo p.tagline {display: none;}

	#search {
		margin: 45px 0 0 0; padding: 8px 4px 7px 9px;
		width: 217px;
		float: right;
		background: #f5f5f5 url(../images/template/search_bg.gif) bottom repeat-x;
	}

	ul#account_nav {
		margin: 0; padding: 4px 10px;
		position: absolute;
		top: -3px; right: 0;
		list-style-type: none;
		font-size: 1em;
		background: #198ac3 url(../images/template/account_nav_bg.gif) repeat-x;
		color: #fff;
	}
		ul#account_nav li {
			margin: 0; padding: 0 5px 0 7px;
			float: left;
			background: url(../images/template/account_nav_sep_bg.gif) 0 3px no-repeat;
		}
			ul#account_nav li a {color: #fff;}

		ul#account_nav li.profile,
		ul#account_nav li.edit_profile,
		ul#account_nav li.login {padding-left: 0; background: none;}

		ul#account_nav li.edit_profile {}
			ul#account_nav li.edit_profile a {
				width: 9px; height: 15px;
				background: url(../images/template/acount_nav_gear_icon.gif) center left no-repeat;
			}


/* Navigation
----------------------------------------------- */
#navigation {
	background: #069 url(../images/template/nav_bg.gif) bottom repeat-x;
}

	#navigation ul {
		margin: 0; padding: 0;
		list-style-type: none;
		font-size: 1.2em; line-height: 1;
	}
		#navigation ul li {
			float: left;
		}
			#navigation ul li a {
				display: block;
				float: left;
			}

	ul#content_nav {}
		ul#content_nav li {}
			ul#content_nav li a {
				padding: 8px 20px 5px 20px;
				background-color: #198ac3;
				border: 1px solid #fff;
				border-width: 0 1px 1px 0;
				color: #fff;
				text-decoration: none;
			}
			ul#content_nav li a:hover,
			ul#content_nav li.current a {
				background-color: #069;
			}

			ul#content_nav li.current a {
				padding-left: 37px;
				background-position: 14px 6px;
				background-repeat: no-repeat;
				border-bottom-color: #069;
			}
			#content_nav li.current a.home {background-image: url(../images/template/nav_home_icon.gif);}
			#content_nav li.current a.library {background-image: url(../images/template/nav_library_icon.gif);}
			#content_nav li.current a.courses {background-image: url(../images/template/nav_courses_icon.gif);}
			#content_nav li.current a.discussions {background-image: url(../images/template/nav_discussions_icon.gif);}
			#content_nav li.current a.people {background-image: url(../images/template/nav_people_icon.gif);}

	ul#global_nav {
		padding-top: 10px;
		font-size: 1.1em;
		font-weight: bold;
	}
		ul#global_nav li {
			padding: 0 5px;
			border-right: 1px solid #ccc;
			line-height: 1;
		}
			ul#global_nav li a {text-decoration: none;}
			ul#global_nav li a:hover {text-decoration: underline;}

		ul#global_nav li.contact_link {padding-right: 0; border-right: 0;}


/* Content
----------------------------------------------- */
#content {}
	#primary {}
		#primary a {}
		#primary p {
			margin: 1em 0;
			font-size: 1.2em;
		}
		#primary ul,
		#primary ol {
			font-size: 1.2em;
		}
			#primary li,
			#primary ul p,
			#primary ol p {font-size: 1em;}

		#primary .primary_title {
			background: url(../images/template/title_bg.gif) bottom repeat-x;
			border-bottom: 1px solid #d1d1d1;
		}

	#secondary {}
		#secondary p {font-size: 1.1em;}


/* Sidebar
----------------------------------------------- */
#secondary {}
	#secondary ul.modules {
		margin: 0; padding: 0;
		list-style-type: none;
	}
		#secondary ul.modules li {
			margin: 0; padding: 10px 20px;
			background: url(../images/template/module_sep_bg.gif) bottom no-repeat;
		}

		#secondary ul.modules li.navigation {
			padding: 0;
			background: none;
		}
			#secondary ul.modules li.navigation ul {
				margin: 0; padding: 0;
				list-style-type: none;
				background: #f1f1f1 url(../images/template/mod_nav_bg.gif) repeat-y;
				border: 1px solid #e1e1e1;
				border-width: 1px 0;
				font-size: 1.1em;
			}
				#secondary ul.modules li.navigation ul li {
					padding: 0 0 2px 0;
					background: url(../images/template/mod_nav_sep_bg.gif) bottom repeat-x;
				}
					#secondary ul.modules li.navigation ul li a {
						padding: 6px 10px 4px 20px;
						display: block;
					}
					#secondary ul.modules li.navigation ul li a:hover {}

				#secondary ul.modules li.navigation ul li.all_discussions {padding-bottom: 0; background: none;}
				#secondary ul.modules li.navigation ul li.active {
					margin: -2px 0 -9px -1px; padding: 2px 0 0 0;
					position: relative;
					width: 231px; height: 36px;
					background: url(../images/template/mod_nav_active_bg.gif) no-repeat;
				}
					#secondary ul.modules li.navigation ul li.active a {
						color: #333;
						font-weight: bold;
						text-decoration: none;
					}



/* Footer
----------------------------------------------- */
#footer {
	background: url(../images/template/footer_bg.gif) bottom repeat-x;
}
	#footer p {
		font-size: 1.1em;
		color: #999;
	}


/* Lists
----------------------------------------------- */
.content_list {
	margin: 0; padding: 0;
	list-style-type: none;
}

#primary {}

#secondary {}
	#secondary ul.modules ul {
		margin: 1em 0; padding: 0 0 0 20px;
		list-style-type: disc;
	}
		#secondary ul.modules ul li {
			padding: 2px 0;
			background: none;
		}


/* Modules
----------------------------------------------- */


/* Corners
----------------------------------------------- */
.corner_container {position: relative;}
.corner {
	width: 5px; height: 5px;
	position: absolute;
}
	.top {top: 0;}
	.right {right: 0;}
	.bottom {bottom: 0;}
	.left {left: 0;}

	.stroke .top {top: -1px;}
	.stroke .right {right: -1px;}
	.stroke .bottom {bottom: -1px;}
	.stroke .left {left: -1px;}	

	.top_left {background-image: url(../images/template/corners/content_r5/top_left.png);}
	.top_right {background-image: url(../images/template/corners/content_r5/top_right.png);}
	.bottom_left {background-image: url(../images/template/corners/content_r5/bottom_left.png);}
	.bottom_right {background-image: url(../images/template/corners/content_r5/bottom_right.png);}


/* Forms
----------------------------------------------- */
form {
	margin: 0; padding: 0;
	line-height: 1;
}
	fieldset {
		margin: 0; padding: 0;
		border: 0;
	}
	input,
	textarea {
		margin: 0; padding: 2px 4px;
		font-family: Helvetica, Arial, "Trebuchet MS", Verdana, sans-serif;
	}
		.inactive {color: #999;}
	label {
		margin: 0 0 10px 0;
		display: block;
	}

#search form {}
	#search form label {display: none;}
	#search form input {margin: 0; padding: 0;}
	#search form input.txt {
		padding: 6px 2px 0 20px;
		border: 1px solid #fff;
		width: 153px; height: 12px;
		float: left;
		background: #fff url(../images/template/search_inp_bg.gif) no-repeat;
		font-size: 1.1em; line-height: 1;
	}
	#search form input.btn {
		margin-left: 4px;
		float: left;
	}


/* Miscellaneous
----------------------------------------------- */