html,body,h1,h2,h3,h4,h5,h6,p,span,div,img,blockquote,ol,ul,li,dl,dt,dd,form,input,select,textarea,a {margin:0;padding:0;}
ul, ol {list-style: none inside;}

body {margin-bottom:20px; font: normal normal normal 14px/20px arial, sans-serif; letter-spacing:.05em; word-spacing:-.07em; color:#555;}
img {border:none;}