/*
-----------------------------------------------
Site: ThoughtLead
Name: Layout
----------------------------------------------- */


/* Layout
----------------------------------------------- */
body {
	margin: 0; padding: 11px 0 0 0;
	border: 0;
	background: #fff url(../images/template/body_bg.gif) repeat-x;
}
#page {}
	.content_area {
		margin: 0 auto;
		width: 800px;
	}
	#header {
		padding: 15px 0 45px 0;
		position: relative;
	}
		#logo {
			width: 570px;
			float: left;
		}
		#search {}
		#account_nav {}
	#navigation {
		width: 100%;
		margin-bottom: -70px;
		padding-bottom: 50px;
		clear: both;
	}
		#navigation_bar {
			position: relative;
			top: -26px;
		}
			#content_nav {
				width: 700px;
				float: left;
			}
			#global_nav {
				float: right;
			}
	#content {
		padding: 25px 18px 0 20px;
		width: 800px;
		background: url(../images/template/content_bg.png) no-repeat;
	}
		#primary {
			width: 568px; min-height: 590px;
			float: left;
			position: relative;
			border: 1px solid #f2f2f2;
			border-width: 0 1px;
		}
			#primary .primary_title,
			#primary .primary_content {
				padding: 0 19px;
			}
			#primary .primary_content {padding-top: 10px;}
		#secondary {
			padding-top: 45px;
			position: relative;
			width: 230px;
			float: left;
		}
	#footer {
		padding: 40px 0 8px 0;
		clear: both;
	}



.clear:after,
.clearsub li:after,
#header:after,
#navigation:after,
#content:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}