/* FLASH MESSAGES */
div.notice {margin:20px 30px 0; padding:10px 20px; background:#b8ca29; color:#fff; font-weight:bold;}
div.warning {margin:20px 30px 0; padding:10px 20px; background:#b04c2f; color:#fff; font-weight:bold;}

/* END FLASH MESSAGES */

/* VALIDATION ERRORS */
.fieldWithErrors {
  display: inline;
}

.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea {background:#B04C2F;}

#errorExplanation {font-size: 18px; border: 2px solid #000; background:#b04c2f; margin: 18px 0 18px 0; padding: 0px;}
#errorExplanation h2 {font-size:18px; text-align:left; background:#b04c2f; padding:9px 18px; margin:0; border-bottom:2px solid #000;}

#errorExplanation p {margin-bottom: 0; padding:9px 18px;  color:#000;}
#errorExplanation ul {padding: 0 0 9px; color:#000;}
#errorExplanation ul li {list-style: inside square; margin-left: 18px; font:normal normal normal 13px/18px verdana, arial, sans-serif}

/* END VALIDATION ERRORS */