@import "defaults.css" screen;



/*	===================
	BASIC ELEMENTS
	===================*/

body {background:#0082bb url(/images/body_bg.gif) top left repeat-x; text-align:center; color:#555;}

abbr {}
acronym {}
address {}
area {}
b {}
blockquote {}

/* HEADINGS*/
h1 {margin-bottom:20px; color:#3a3a3a; font: normal normal bolder 25px/30px arial, sans-serif; letter-spacing:-.03em; word-spacing:-.03em;}
.grouped {margin-bottom:0;}
h2 {margin:0 0 5px 0; padding:0; font: normal normal bolder 18px/25px arial, sans-serif; letter-spacing:-.03em; word-spacing:-.03em;}
h3 {margin:10px 0 10px 0; padding:0; font: normal normal normal 17px/20px arial, sans-serif; letter-spacing:-.03em; word-spacing:-.03em;}

/* LINKS */
a, a:active, a:link {color:#096cb1; text-decoration:none;}
a:hover {text-decoration:underline; background:none;}
body a:visited {color:#096cb1;}
	
/* ACTION LINKS */
a.action, body a.action:visited {display:block; padding:5px 7px; margin-bottom:10px; background:#b2cd1e; color:#fff;}
a.action:hover, a.action:focus {background:#b2cd1e; color:#fff;}



/*	===================
	LAYOUT
	===================*/


/* Constraining Primary Divs*/
#header, #section, #content, #footer {position:relative;}

/* PAGE --------------- */
#page {background: url(/images/page_bg.png) top left repeat-y; width:930px; margin:0 auto; text-align:left;}
.head {padding:0 10px;}

/* HEADER --------------- */
.head {background: url(/images/header_bg.gif) repeat-x top left;}
#header {background:url() top left no-repeat; text-align:right; min-height:110px; padding:0 20px;}

	/* COMMUNITY TITLE */
		/*Hide header text*/
	 	#header h1 a {display:none;}
	.community_title {position:absolute; left:-16px;}
		
	/* USER CONTROLS */
	.user_controls {font-size:12px; line-height:33px;}
	.user_controls, .user_controls a, .user_controls a:visited {color:#fff;}

	/* TOP NAVIGATION */
	ul.navigation_top {float:right; width:320px; font: normal normal normal 16px/40px arial, sans-serif;}
	.navigation_top li {display:block; float:left; text-align:center; border-left:1px solid #E5E5E5;}
	.navigation_top li a.people {}
	.navigation_top a, .navigation_top a:visited, .navigation_top a:hover {display:block; width:104px; height:45px; padding-top:40px; line-height:40px; text-decoration:none; color:#555; }
	.navigation_top a.discussions, .navigation_top a.discussions:visited, .navigation_top a.discussions:hover {width:108px;}
	.navigation_top li.current {background:url(/images/tab_active.gif) top left repeat-x;}
	.navigation_top li.current a, .navigation_top li.current a:visited {color:#fff; }
	.navigation_top li a.courses:hover, .navigation_top li a.discussions:hover, .navigation_top li a.people:hover {color:#2E74A5;}
	
		/* Icons */
		.navigation_top li a.courses {background:url(/images/courses_icon_inactive.gif) center 20px no-repeat;}
		.navigation_top li.current a.courses {background:url(/images/courses_icon.gif) center 20px no-repeat;}

		.navigation_top li a.discussions {background:url(/images/discussions_icon_inactive.gif) center 20px no-repeat;}
		.navigation_top li.current a.discussions {background:url(/images/discussions_icon.gif) center 20px no-repeat;}
		
		.navigation_top li a.people {background:url(/images/people_icon_inactive.gif) center 20px no-repeat; border-right:1px solid #E5E5E5;}
		.navigation_top li.current a.people {background:url(/images/people_icon.gif) center 20px no-repeat;}

/* SECTION --------------- */
#section {margin:0 10px; padding-bottom:2px; border-bottom:4px solid #b2cd1e;}
#section h2 {margin:0; padding:15px 20px; background:#27648F; color:#E8701E; color:#fff; font: normal normal bolder 18px/25px arial, sans-serif; letter-spacing:-.03em; word-spacing:-.03em;}		

/* CONTENT --------------- */
#content {overflow:hidden;}

	/* PRIMARY */
	#content #primary {position:relative; float:left; margin:0 -50px 0 10px; padding:30px 30px 80px 20px; width:510px; overflow:hidden;}
	#content #primary div {margin-bottom:20px;}
		/* FONTS */
		#primary p {margin:5px 0 20px; font: normal normal normal 14px/18px georgia, serif; letter-spacing:.05em; word-spacing:-.07em; color:#555;}
		#primary h2 a {color:#096cb1;}	
	
	/* SECONDARY */
	#content #secondary {position:relative; float:right; margin-right:10px; padding:30px 20px 30px 10px; overflow:hidden; width:320px;}
	#secondary div {padding-bottom:20px;}
	#secondary ul div, #secondary ol div {padding-bottom:0;}
	
	/* Small */
	#small {position:relative; width:430px; padding:50px 0px 150px; margin:0 auto; background:#fff; text-align:left;}
	#small div {margin-bottom:20px;}


/* FOOTER --------------- */
#footer {padding:20px 30px 40px; color:#fff; background: #0083bd url(/images/footer_endcap.gif) top left no-repeat;}



/*	===================
	SECTIONS & PAGES
	===================*/

/*	HOME --------------- */
#page.home #small {padding:2px 15px 75px;}
.home #small .logo {text-align:center;}
.home img {margin-bottom:10px;}
.home .action {margin:20px 0;}
.promo {font: normal normal normal 18px/30px arial, sans-serif; margin-bottom:40px;}

/*	COURSE --------------- */
#primary ol.courses {}
#primary ol.courses li {padding:0 0 10px 30px; margin-bottom:20px; border-bottom:1px solid #e5e5e5; background:url(/images/course_icon.gif) no-repeat 0px 1px;}
#primary ol.courses li h3 {display:inline;}
#primary a.action_sm {color:#99c903; padding-left:10px;}
#primary ol.courses p {margin-bottom:10px;}
#primary .course_description p {font: italic normal normal 15px/25px georgia, serif;}
#primary .info p {font:normal normal normal 14px/20px arial, sans-serif; margin:0; padding:0;}
div.chapter {text-transform:uppercase; border-bottom:1px solid #e5e5e5; color:#888; font: normal normal normal 13px/20px arial, sans-serif;}
#secondary h2 {color:#ff6b00;}

/*	LESSON --------------- */
#lesson_placeholder #primary div.lesson_info {margin-bottom:20px; border-bottom:1px dashed #bbb;}
#secondary a.action {margin: 0 0 20px !important;}
#secondary .course {font: normal normal normal 16px/20px arial, sans-serif;}
#secondary .course .course_title p {font: normal normal normal 16px/20px arial, sans-serif; padding-bottom:10px; margin-bottom:0px; border-bottom:1px solid #e5e5e5;}
#secondary .course_title span {display:block; text-transform:uppercase; margin-bottom:5px; font: normal normal normal 14px/20px arial, sans-serif; color:#aaa;}
#secondary .course .lessons {margin-bottom:0px;}
#secondary .course .lessons li {font: normal normal normal 15px/20px arial, sans-serif; padding-bottom:5px; margin:0 0 5px 15px; border-bottom:1px solid #e5e5e5;}
#content #secondary ul, #content #secondary ol {padding:0; margin:0;}


/*	DISCUSSIONS --------------- */
/* Index */
.discussions .discussion {border-bottom:1px solid #e5e5e5;}
#primary .discussions .discussion p {padding:0; margin:0;}
	/* Meta info */
	.discussions .discussion .meta_info {padding:5px 0 0;}
/* Show */
#primary ol.comments {padding-top:20px; margin-top:10px; border-top:1px solid #e5e5e5;}
#primary ol.comments p {font: normal normal normal 14px/20px arial, sans-serif;}
ol.comments li {margin-bottom:20px; border-bottom:1px solid #e5e5e5;}
.comment_info {font-weight:bold;}

/*	PROFILE --------------- */
li.user {line-height:48px;}

/*	PROFILE --------------- */
#user_profile .about, #user_profile .interests, #user_profile .websites {border-top:1px solid #e5e5e5; padding:10px 0; overflow:hidden;}
#user_profile h3 {display:block; width:100px; float:left; margin:0 10px 20px 0; font:normal normal normal 14px/20px arial, sans-serif; text-align:right; text-transform:uppercase;}
#user_profile div.section_body p {margin-top:0;}
#user_profile div.section_body {width:400px; float:right; padding:0; margin:0;}
#profile_avatar {float:left; margin:0 10px 20px 0;}
div.user_info {overflow:hidden;}
div.user_info h1 {padding-top:20px;}

	


/* Forms */
form {padding-right:14px;}
label {font: normal normal normal 14px/20px arial, sans-serif; color:#000;}
input.text, label, textarea {display:block;}
input, textarea {margin-bottom:20px; max-width:100%;}
textarea, label, input.text {width:100%;}
textarea, input.text {padding:5px; font: normal normal normal 14px/18px arial, sans-serif; color:#555;}
#content #primary .plus_label {margin:5px 0 0;}
#primary .plus_label input {margin:0 0 10px;}
#primary .plus_label label {display:inline;}
form input.text {display:block; margin-bottom:20px;}
form input.single, form textarea.single {font-size:18px; line-height:20px;}
form input.medium, form textarea.medium {height:75px;}
form input.large, form textarea.large {height:250px;}




/*	===================
	TESTING
	===================*/
 {background:silver;}
 {background:gray;}
