@import "defaults.css" screen;
@import "layout.css" screen;



/*	===================
	BASIC ELEMENTS
	===================*/

body {background:#0e91ca; text-align:center; color:#555;}

abbr {}
acronym {}
address {}
area {}
b {}
blockquote {}

/* HEADINGS*/
h1 {margin-bottom:20px; color:#3a3a3a; font: normal normal bolder 35px/40px arial, sans-serif; letter-spacing:-.03em; word-spacing:-.03em;}
.grouped {margin-bottom:0;}
h2 {margin:0 0 5px 0; padding:0; font: normal normal bolder 23px/25px arial, sans-serif; letter-spacing:-.03em; word-spacing:-.03em;}
h3 {margin:10px 0 10px 0; padding:0; font: normal normal bolder 15px/20px arial, sans-serif; letter-spacing:-.03em; word-spacing:-.03em;}

/* LINKS */
a, a:active, a:link {color:#096cb1; text-decoration:none;}
a:hover {text-decoration:underline; background:none;}
body a:visited {color:#096cb1;}
	
/* ACTION LINKS */
a.action, body a.action:visited {display:block; padding:5px 7px; margin-bottom:10px; background:#b2cd1e; color:#fff; border:2px solid #b2cd1e;}
a.action:hover, a.action:focus {background:#b2cd1e; color:#fff; border border-top-color:#EDFB3F; border-right-color:#A0AF23;  border-bottom-color:#8A971E;  border-left-color:#CEE22E;}



/*	===================
	LAYOUT
	===================*/

/* Wrappers */
.outer_wrapper {position:relative; width:100%;  background-color:#fff; clear:both;}

/* Constraining Primary Divs*/
#header, #section, #content, #footer {position:relative; width:920px; margin:0 auto; text-align:left;}

/* HEADER --------------- */
.outer_wrapper.head {border-bottom:1px solid #eaeaea; background:#fff url(/images/header_bg.gif) repeat-x top left;}
#header {text-align:right; min-height:100px;}

	/* COMMUNITY TITLE */
		/*Hide header text*/
	 	#header h1 a {display:none;}
	.community_title {position:absolute; left:-55px;}
		
	/* USER CONTROLS */
	.user_controls {font-size:12px; line-height:33px;}
	.user_controls, .user_controls a, .user_controls a:visited {color:#fff;}

	/* TOP NAVIGATION */
	ul.navigation_top {margin-top:30px; font: normal normal normal 17px/30px Arial, sans-serif;}
	.navigation_top li {display:inline; padding-left:20px;}
	.navigation_top a, .navigation_top a:visited, .navigation_top a:hover {color:#555; padding:2px 2px 0; text-decoration:none;}
	.navigation_top li.current a, .navigation_top li.current a:visited {color:#1070b3; border-bottom:1px solid #1070b3;}
	.navigation_top a:hover {background:#DBEEFB;}

/* SECTION --------------- */
.outer_wrapper.section {background:#fff url(/images/section_border.gif) repeat-x bottom left;}
#section {padding:15px 0;}
#section h2 {margin:0; color:#E8701E; font: normal normal bolder 18px/25px arial, sans-serif; letter-spacing:-.03em; word-spacing:-.03em;}		

/* CONTENT --------------- */
#content {overflow:hidden;}
	/* PRIMARY */
	#content #primary {position:relative; float:left; margin-right:-50px; background:#fff; width:600px; padding:30px 50px 80px 0; overflow:hidden;}
	#content #primary div {margin-bottom:20px;}
		/* FONTS */
		#primary p {margin-bottom:20px; font: normal normal normal 14px/20px georgia, serif; letter-spacing:.05em; word-spacing:-.07em; color:#555;}
		#primary h2 a {color:#096cb1;}	
	
	/* SECONDARY */
	#content #secondary {position:relative; float:right; padding:30px 0; overflow:hidden; width:245px;}
	
	/* Small */
	#content #small {position:relative; width:445px; padding:50px 15px 250px; margin:0 auto;}
	#small div {margin-bottom:20px;}


/* FOOTER --------------- */
.outer_wrapper.footer {background: url(/images/footer_bg.gif) repeat-x top left;}
#footer {padding:20px 0 40px; color:#fff;}



/*	===================
	SECTIONS & PAGES
	===================*/

/*	COURSE --------------- */
#primary .course_description p {font: italic normal normal 16px/25px georgia, serif;}
div.chapter {text-transform:uppercase; border-bottom:1px solid #e5e5e5; color:#888; font: normal normal normal 13px/20px arial, sans-serif;}

/*	LESSON --------------- */
#secondary .course_title span {text-transform: capitalize;}

/*	DISCUSSIONS --------------- */
/* Index */
.discussions .discussion {border-bottom:1px solid #e5e5e5;}
#primary .discussions .discussion p {padding:0; margin:0;}
	/* Meta info */
	.discussions .discussion .meta_info {padding:5px 0 0;}
/* Show */
#primary ol.comments {padding-top:20px; margin-top:10px; border-top:1px solid #e5e5e5;}
#primary ol.comments p {font: normal normal normal 14px/20px arial, sans-serif;}
ol.comments li {margin-bottom:20px; border-bottom:1px solid #e5e5e5;}
.comment_info {font-weight:bold;}

/*	PROFILE --------------- */
#user_profile .about, #user_profile .interests, #user_profile .websites {border-top:1px solid #e5e5e5; padding:10px 0;}
#user_profile h3 {display:block; width:75px; float:left; text-align:right; padding:0 20px 20px ;}


	


/* Forms */
form {padding-right:14px;}
label {font: normal normal normal 14px/20px arial, sans-serif; color:#000;}
input.text, label, textarea {display:block;}
input, textarea {margin-bottom:20px; max-width:100%;}
textarea, label, input.text {width:100%;}
textarea, input.text {padding:5px; font: normal normal normal 14px/18px arial, sans-serif; color:#555;}
#content #primary .plus_label {margin:5px 0 0;}
#primary .plus_label input {margin:0 0 10px;}
#primary .plus_label label {display:inline;}
form input.text {display:block; margin-bottom:20px;}
form input.single, form textarea.single {font-size:18px; line-height:20px;}
form input.medium, form textarea.medium {height:75px;}
form input.large, form textarea.large {height:250px;}