<div id="main_content">
	<div class="title bar">
		<h2>Contact <%= h(current_community) %></h2>
	</div>
	<p>WeHabitat is an emerging community, and we are looking forward to growing it with your feedback. If the site has a bug, or if you need technical support, write us at <a href="mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#116;&#104;&#111;&#117;&#103;&#104;&#116;&#108;&#101;&#97;&#100;&#46;&#99;&#111;&#109;">&#115;&#117;&#112;&#112;&#111;&#114;t&#64;th&#111;&#117;&#103;&#104;&#116;&#108;&#101;&#97;&#100;&#46;c&#111;&#109;</a>. If you have a question or suggestion for Larina or one of WeHabitat&rsquo;s other experts, please write us at <a href="mailto:&#113;&#117;&#101;&#115;t&#105;&#111;&#110;&#115;&#64;&#116;h&#111;&#117;&#103;&#104;&#116;&#108;e&#97;&#100;&#46;&#99;o&#109;">q&#117;&#101;&#115;&#116;&#105;&#111;&#110;&#115;&#64;&#116;&#104;&#111;&#117;&#103;&#104;t&#108;&#101;a&#100;.&#99;&#111;&#109;</a>. We read all your emails, but cannot guarantee a response to every question.</p>
	<p>
		Thank you very much,<br />
		The WeHabitat team
	</p>
</div>