<div id="main_content">
	<div class="title bar">
		<h2>About <%= h(current_community) %></h2>
	</div>
	<p>Eating for Evolution is the latest project from Tiffany Pollard, an in-demand health and wellness practitioner based in the Seattle, WA area.</p>

	<p>Tiffany has been active in every facet of the commercial and home kitchen for over 20 years.  Growing up cooking side by side with her mother, Tiffany learned at a young age the awesome power of food. She understands that a meal does more for us than just fill our tummies; food deeply affects our entire being, directly influencing every aspect of who we are as individuals and as a collective whole.  From altering our cellular chemistry to our mood, which in turn impacts humanity and culture, food is so much more than a personal affair.</p>

	<p>Beyond her experience in the kitchen, Tiffany’s background is rich with knowledge in science and health as she studied pre-med in undergrad, then naturopathic medicine, ultimately earning a Masters degree in Acupuncture from Bastyr University.  She has studied the energetic and healing properties of foods with well known author of  <a href="http://www.healingwithwholefoods.com/">Healing with Whole Foods</a>, Paul Pitchford, and she completed 2 years of post graduate training with Chinese Medicine, master practitioner and author, <a href="http://www.spiritpathpress.com/">Lonny Jarrett</a>.</p>

	<p>In addition to owning and operating Eating for Evolution, Tiffany is owner of <a href="http://www.thesynergywellnesscenter.com/">Synergy Wellness Center</a>, a holistic medical center just outside of Seattle WA. This is where she treats patients for a variety of ailments, and also helps people cultivate ways of eating that support whatever optimal health is for them.  She also teaches Chinese medicine at Bastyr University and cooking courses through <a href="http://www.pccnaturalmarkets.com/pcccooks/instructors/detail.php?id=182">PCC Cooks</a>. </p>

</div>









