<div id="main_content">
	<div class="title bar">
		<h2>About <%= h(current_community) %></h2>
	</div>
	<p>ThoughtLead was founded by Sam Rosen, Christiana Briddell, and Steve Haase. It started with an inspired idea: teaching marketing as a tool for good. So we decided to create a membership site around the topic. We looked high and low for an attractive, straight-forward, privately branded membership site software. We couldn't find one. So we decided to build it ourselves. (We don't give up easily).</p>

	<p>And now, a year later, here it is--in beta.</p>

	<p>And by the way, we are still going to launch our own site. If you're interested in marketing for good, join us at <a href="http://www.onemillionmarketers.com">www.onemillionmarketers.com</a></p>

	<p>The principles behind the software:</p>

	<ol>
		<li>Communities really thrive when they have a central focus--such as taking and discussing courses with fellow learners.</li>
		<li>Community discussions trump individual blogs and forums. Our discussion structure pulls people together, rather then spreading them apart.</li>
		<li>Profiles should be functional, not abridged autobiographies. Most people don't want to have to fill out what their favorite books, music and love interests are. We keep it simple.</li>
		<li>Other membership sites have &quot;featuritis&quot;. We believe less is more. See #5.</li>
		<li>People are happy when they aren't confused. Ease of navigation and clean design are key components of our site.</li>
		<li>We intend to grow with your needs.</li>
	</ol>
</div>