<div id="main_content">
	<div class="title bar">
		<h2>Contact <%= h(current_community) %></h2>
	</div>
	<dl class="contact">
		<dd><a href="mailto:&#116;&#105;&#x66;&#102;&#x61;&#110;&#121;&#x40;&#x65;&#x61;&#116;&#105;&#110;&#103;&#x66;&#111;&#114;&#x65;&#x76;&#x6f;&#x6c;&#x75;&#x74;&#105;&#x6f;&#x6e;&#x2e;&#x63;&#111;&#x6d;"> Tiffany [at] eatingforevolution [dot] com</a></dd>
		<dd>2223  112th Avenue NE, Suite 201</dd>
		<dd>Bellevue, WA 98004</dd>
		<dd>425.283.4927</dd>
	</dl>
</div>