<div id="main_content">
	<div class="title bar">
		<h2>Contact <%= h(current_community) %></h2>
	</div>
	<div class="module image">
		<img src="<%= themed_file('images/content/map.gif') %>" alt="Map" />
	</div>
	<p>If you would like a guided tour of the demo, or simply want to share your questions, comments and ideas, please contact us.</p>
	<dl class="contact">
		<dt>Sam Rosen, CEO</dt>
		<dd><a href="mailto:&#x73;&#x61;&#x6D;&#x40;&#x74;&#x68;&#x6F;&#x75;&#x67;&#x68;&#x74;&#x6C;&#x65;&#x61;&#x64;&#x2E;&#x63;&#x6F;&#x6D;">sam [at] thoughtlead [dot] com</a></dd>
		<dd>40 Ecstatic Way</dd>
		<dd>Lenox, MA 01240</dd>
		<dd>215.266.2019</dd>
	</dl>
</div>