
<div id="primary">
    <% form_for(:user, :url => forgot_password_url) do |f| %>
    <%= label :user, :login %>
    <%= text_field_tag 'login', params[:login], :class => 'text single' %>
	<%= submit_tag "Send Password" %>
    <% end %>
</div>
