<% @current_tab = :People %>

<div id="primary">
  <ul>
    <% for user in @users %>
      <li class="user">
        <%= avatar_for(user, :small) %>
        <%= link_to h(user), user %>
      </li>
    <% end %>
  </ul>
</div>