<% @current_tab = :People %>

<div id="primary" class="<%= @current_tab.to_s.downcase %>">
	<div class="primary_title">
		<h2><%= @current_tab %></h2>
	</div>
	<div class="primary_content">
	  <h3>Connect with Other Users</h3>
	  <ul class="user_list">
	    <% for user in @users %>
	      <li class="user">
	        <%= avatar_for(user, :small) %>
	        <%= link_to h(user), user %>
	      </li>
	    <% end %>
	  </ul>
	</div>
</div>