<% @current_tab = :People %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "People", users_path %></li>
			</ul>
		</div>
	</div>
	<div class="title">
		<h2>People List</h2>
		<p class="subtitle">Connect with other users</p>
	</div>
	<ul class="people_list people">
		<% for user in @users %>
		<% unless (user.disabled? && !logged_in_as_owner?) %>
		<li>
			<div class="item_image module image">
				<%= link_to(avatar_for(user, :medium),user) %>
				<% if user.expert? %><span class="marker expert replace">Expert</span><% end %>
			</div>
			<dl class="profile_header">
				<dt><%= user %></dt>
				<dd><%= user.location %></dd>
			</dl>
		</li>
		<% end %>
		<% end %>
	</ul>
</div>
<div id="sidebar">
	<ul class="modules">
		<li>
			<h3>Icon Legend</h3>
			<ul class="legend">
				<li class="expert"><strong>Expert</strong> These are power users endowed with superpowers.</li>
				<li class="admin"><strong>Administrator</strong> Basically, god.</li>
			</ul>
		</li>
	</ul>
</div>