<% @current_tab = :connect %>

<div id="primary">
  <h1>Connect with Users</h1>
  <ul>
    <% for user in @users %>
      <li>
        <%= link_to user, user %>
      </li>
    <% end %>
  </ul>
</div>