<div id="primary">
  <h1 class="grouped"><%= @user %></h1>
  <div class="email_user">
    <%= link_to "Email #{@user}", email_user_url(@user) %>
  </div>

  <h2>Courses</h2>
  <% for course in @user.courses %>
    <h3><%= link_to course, course %></h3>
  
  <% end %>
</div>