<div id="main_content">
	<div class="title bar">
		<h2>Contact <%= h(current_community) %></h2>
	</div>
	<p>Lonny can be reached at:</p>
	<dl class="contact">
		<dt>Lonny S. Jarrett</dt>
		<dd>PO 1093,</dd>
		<dd>Stockbridge, MA 01262</dd>
		<dd>413 298 4221</dd>
		<dd><a href="mailto:&#82;&#101;&#118;o&#108;&#117;t&#105;o&#110;&#64;&#110;&#121;&#99;&#97;p&#46;&#114;r&#46;&#99;&#111;&#109;">Revolution@nycap.rr.com</a></dd>
	</dl>
	<p>Lonny's texts may be purchased at: <a href="http://spiritpathpress.com/">Spiritpathpress.com</a></p>
</div>