<div id="main_content">
	<div class="title bar">
		<h2>About <%= h(current_community) %></h2>
	</div>

	<p>These are the values the Nourishing Destiny site is founded upon. Please familiarize yourself with them.</p>

	<h3>Chinese Medicine in an Evolutionary Context</h3>
	<p>The intention of this site is to provide a forum for thoughtful and respectful discussion of any facet of Chinese medicine. There are some core values that are foundational for engaging with, and receiving, the teaching being given here. These are:</p>

	<ol>
		<li>All things are not equal.</li>
		<li>Human beings are capable of discernment.</li>
		<li>Discernment is good.</li>
		<li>As far as we know, the human capacity to discern--to make a conscious choice for the sake of a greater and higher possibility&mdash;is  very likely the most highly developed capacity to have emerged thus far in the universe.</li>
		<li>For that reason, and as far as we know, humans are the most highly evolved beings in the universe.</li>
		<li>Conscious choice is an expression of consciousness.</li>
		<li>Consciousness is the driving force behind the universe, of which we are an integral part.</li>
		<li>Human language is the most highly evolved means by which consciousness is expressed, and therefore it should not be used casually.</li>
		<li>Language&mdash;-as the expression of consciousness--can not only transmit, but can create reality.</li>
		<li>Through language and our interactions with each other, we can consciously evolve, or engage in &quot;Vertical Development&quot;</li>
		<li>Vertical development means that we attain ever higher, broader, and more integrated perspectives on ourselves and reality.</li>
		<li>In its deepest and highest sense, vertical development means healing.</li>
		<li>For the post-modern human, healing means awakening to conscience and consciousness.</li>
		<li>Conscience is good. It is the voice of the soul awakening us to the gap between what we know to be true, and how we are actually living.</li>
		<li>It is the practitioner's moral obligation to embrace conscience and consciousness as him or herself.</li>
		<li>Only in that way will he or she be able to generate in a patient the imperative to change, to live up to a greater possibility.</li>
		<li>The vertical development of the practitioner is the most significant factor that makes possible a patient's healing.</li>
		<li>Conscious or vertical development is made possible by the conviction in the absolute positivity of Life, regardless of circumstance.</li>
		<li>To embody the absolute positivity of life as it is expressed in the creative impulse, a person has to be willing to not know, and this means dropping one's relationship to history long enough to consider what is True now.</li>
		<li>It is from this ground of not knowing that we make distinctions and discernments for the greatest good, and our highest potential.</li>
		<li>It is in this way that destiny is consciously fulfilled.</li>		
	</ol>
</div>