<div id="main_content">
	<div class="title bar">
		<h2>About <%= h(current_community) %></h2>
	</div>
	<p>The Know Your Purpose Community is a place for people who are committed to knowing and living their life's purpose.  We support one another in finding our purpose; we use that knowledge to improve our own lives and make the world a better place for all.  As society transforms, more and more people are awakening to their role in the evolution of our planet.</p>
	<p>If you feel a calling, a desire to know why you're here, a sense that there is something larger and more meaningful that you are meant to do, join us! You are part of a rapidly growing movement of people who know that they are meant for more than the daily grind.  We are your tribe, your family, and we welcome you.</p>
</div>