<div id="primary">
  <h1>Welcome to ThoughtLead!</h1>





  <%= link_to "Create a community", new_community_url %> 


  <h2>Thoughtlead Communities</h2>
  <% for community in @communities %>
    <%= link_to community, community_dashboard_url(community) %>
  
  <% end %>
</div>