<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>
    Thoughtlead  ::  Membership sites for people who want to change the world
  </title>
  <style type="text/css">
  body {
    margin:0px;
    padding:0px;
    background:url(../images/html_bg.gif) repeat-x top left;
    font-family: "lucida grande", "lucida sans", Tahoma, Arial, Verdana;
    font-size:12px;
    color:#898989;
  }
  #wrapper {
    width:961px;
    margin:auto;
    padding:0px;
  }
  #footer {
    clear:both;
    background:url(../images/footer_bg.gif) repeat-x top left;
    color:white;
    font-size:10px;
    height:11px;
    padding:70px 20px 70px 20px;
  }
  #form {
    width:300px;
    padding:20px 30px 30px 30px;
    background-color:#fffdc4;
    border: 1px solid #98d000;
    float:left;
    margin:15px 15px 15px 0px;
  }
  #form h1 {
    color:#dd4334;
    font-size:16px;
    font-weight:bolder;
    margin:0px 0px 10px 0px;
    padding:0px;
  }
  span.disclaimer {
    font-size:9px;
  }
  input {
    border: 1px solid #cdcdcd;
    font-size:13px;
    height:13px;
    padding:12px;
    margin:0px 0px 10px 0px;
    background:url(../images/input_bg.gif) repeat-x top left;
  }
  label {
    display:block;
    clear:both;
    margin:0px 0px 5px 0px;
    color:#2b2b2b;
    font-weight:bold;
  }
  input.submit {
    margin:15px 0px 15px 0px;
    padding:0px;
    height:auto;
  }
  div#content {
    float:right;
    width:550px;
  }
  #content h1 {
    font-size:24px;
    font-weight:bolder;
    color:#1a84bb;
    margin:0px 0px 15px 0px;
  }
  #content span {
    color:black;
    font-size:15px;
  }
  #content a {
    text-decoration:underline;
    color:black;
    font-weight:bolder;
  }
  #content a:hover {
    color:#1a84bb;
  }
  #content ul {
    color:#1a84bb;
  }
  #content li span{
    color:#898989;
  }
  #content li {
    margin:15px 0px 15px 0px;
  }
  </style>
  
</head>


<body>
  <div id="wrapper">
    <img src="images/header.jpg" alt="Thought Lead" />
      <div style="clear:both;height:25px;"></div>
    <div id="form">

      
      <h1>Join our beta launch notification list</h1>
      <span>All information will be kept 100% confidential.</span>
        <br /><br />
        <form action="http://thoughtlead.list-manage.com/subscribe/post" method="post">
          <input name="u" value="e687479722a1aa12c979c65b8" type="hidden" />
          <input name="id" value="f259807b25" type="hidden" />
          
          <label for="MERGE1">Name:</label>
          <input name="MERGE1" size="25" value="" type="text" />
          
          <label for="MERGE0">Email:</label>
          <input name="MERGE0" size="25" value="" type="text" />
          
          
          <input type="image" src="images/submit.gif" class="submit" />
        </form>
        
        
        <span class="disclaimer">
          We will NOT rent, trade, or release your name to any third party - ever. We value your privacy as much as we cherish ours.
          
        </span>


    </div>

    <div id="content">
      <h1>ThoughtLead is currently in private beta mode, but we are taking on new customers. </h1>
      <span><a href="http://www.simplebig.com/ThoughtLead_Platform_Overview.pdf">Click here for a PDF overview</a> to see if it might be right for you.</span>
      <br /><br />
      <strong>ThoughtLead will enable you to:</strong>
      
      <ul>
      
      <li><span>Grow a community of people who share a common passion</span></li>

      <li><span>Make more money from your content&mdash;not through attempting to sell ads, but rather by providing value that people want to pay for</span></li>

      <li><span>Have more freedom in your life and business by building recurring revenue streams</span></li>

      <li><span>Solve the complexity of creating your own "Web 2.0" presence with a turnkey, easy-to-use system</span></li>

      <li><span>Learn a step-by-step process for building a profitable&mdash;and a purposeful&mdash;online business</span></li>
      
      </ul>
      
      
      
    </div>
    
    <div style="clear:both;height:45px;"></div>
  
  </div>
  
  
  <div id="footer">
    Copyright 2009 Culture51. ThoughtLead is a Culture51 project.
  </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3724636-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>