<div id="primary">
  <h1>Welcome to ThoughtLead!</h1>

  <%= link_to "Create a community", new_community_url %> 


  <h2>Thoughtlead Communities</h2>
  <ul>
    <% for community in @communities %>
      <li>
        <%= link_to community, community_dashboard_url(community) %>
      </li>
    <% end %>
  
  </ul>
</div>