<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
		  <p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "Pages", pages_path %></li>
			</ul>
		</div>
	</div>
  <%= yield :page_filler %>
</div>