<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
		</div>
		<% if logged_in? && current_user.owner? %>
		<div class="action">
			<span class="button_left">&nbsp;</span><a href="<%= new_article_url %>" class="button"><span class="icon create">+</span><span class="text">Create an Article</span></a>
		</div>
	    <% end %>
	</div>

	<h2>Create New Page</h2>
	<%= render :partial => 'form', :locals => { :mode => :edit }  %>
</div>