<div id="main_content">
	<div class="title bar">
		<h2>About <%= h(current_community) %></h2>
	</div>
	<h3>The SimpleBig Vision</h3>

<p>Imagine what would happen if all of the brilliant, motivated, open-minded, creative, and visionary human beings on this tiny little planet learned how to make a big impact with their ideas... it might just change the world. And that's why we created SimpleBig: to teach pragmatically-minded idealists the simple marketing tools and strategies they need to make a big impact.</p>

<p>We believe in "big." Not the old kind of big: big factories, big, impersonal institutions, and big, ugly, negative consequences. A new kind of big--a big that inspires, a big that leaves our world a better place, a big that's, well, big enough to meet the challenges we face today.</p>

<p>So if you think big, if you want to do big things, then SimpleBig is for you. It will help you in your efforts to innovate, disrupt, grow, and evolve. It will give you the simplest tools you can start using right now to see an immediate return on all of your efforts. And it will connect you to a community of idealists who think big like you do.</p>

<h3>A Little More About Us</h3>

<p>We're not fans of those "About Us" sections that just try to sell you more on the service. We like to know who's behind it--and if we can get behind them: who they are, why they're doing what they're doing, and where they want to take their venture.</p>

<p>We are the co-founders of ThoughtLead, a company dedicated to helping people make an impact with their ideas online. In fact, the software that we built SimpleBig on is the same software we sell as our core business. So in some ways, SimpleBig is a way for us to promote ThoughtLead (just to get that out of the way; we're big on transparency).</p>

<p>But what's more interesting to us (and probably to you as well) is why we created ThoughtLead and SimpleBig in the first place. About a year ago, we made the decision to make our work an expression of our highest ideals, using the skills we had developed... and those we hadn't yet. So we came up with the idea of a community of idealists who wanted to learn how to market their ideas... and soon realized we could build a business around the idea itself (namely, a software platform based on idealistic values that combines e-learning, paid content, and social networking).</p>

<p>And that's where we are today: we're three young people, idealists to the core. We have a software business, ThoughtLead, and an online community, SimpleBig. We offer marketing services, too. We volunteer actively with a non-profit called EnlightenNext and live in Lenox, MA. We're striving to bring about a leap forward in consciousness and culture called The Universe Project, which you should Google. And we hope to meet you soon.</p>

<b>The Team</b><br />
Sam Rosen<br />
Christiana Briddell<br />
Steve Haase<br />

</div>