<% @current_tab = :Home %>
<% content_for :head do %>
	<%= stylesheet_link_tag('home') %>
	<%= javascript_include_tag('home') %>
<% end %>
<div id="main_content" class="marketing">
	<div class="banner">
		<div class="banner_wrap">
		<div class="content">
			<h2 class="change replace">If you want to change the world – start here.</h2>
			<p>You're an idealist. That means you want to make a big difference in the world. For real. Starting...now. But you've discovered that getting your idea out there--especially online--is tough. That's where we come in: we teach you simple marketing tools and strategies for creating a big impact. Click the button below to get started (it's FREE).</p>
			<p class="register replace"><%= link_to "Register for Free Access", signup_url %></p>
		</div>
		</div>
	</div>
	<div class="page_content">
		<h2>Here’s a sample of what you’ll learn when you join SimpleBig...</h2>
		<ul class="feature_list">
			<li><strong>Gary Vaynerchuk</strong> documents his rise to becoming a major force for change in the wine world&mdash;and tells you what you need to understand about social media </li>
			<li><strong>Tellman Knudson</strong>, list-builder extraordinaire, tells us what strategies he would use today if he had to start all over again</li>
			<li><strong>Jay Conrad Levinson</strong>, legendary originator of &ldquo;guerilla marketing,&rdquo; describes myriad ways anyone can make a big splash on a shoestring budget</li>
			<li><strong>Matt Flannery</strong>, co-founder of Kiva.org, reveals the surprisingly humble backstory of how he created an industry-changing website</li>
			<li><strong>Dan Pink</strong>, best-selling author of <i>A Whole New Mind</i>, pinpoints, with his usual wit and humor, what makes some ideas stick and others slip</li>
			<li><strong>Rand Fishkin</strong>, bonafide SEO celebrity, demystifies the principles of search engine optimization and compares it to Pac-Man</li>
		</ul>
	</div>
</div>
<div id="sidebar">
	<ul class="modules">
		<li class="cta register">
			<div class="content">
				<h4 class="get_free replace">Get Free Access</h4>
				<p>Getting started with SimpleBig is easy and free--and will enable you to start getting bigger results immediately.<%= link_to "Join Today", signup_url, :class => 'more' %><span class="arrow">&nbsp;</span></p>
			</div>
		</li>
	</ul>
</div>