<% @current_tab = :Home %>

<div id="primary">
  
  <div id="community_promo">
    <h1>Creating the Future of Medicine, NOW.</h1>
    <p>The purpose of this site is to provide a forum for thoughtful and respectful discussion of any facet of Chinese medicine. The goal is to build a community of engagement capable of creating a paradigm shift in the consciousness and culture of medicine and healing. We recognize that to be a healer is a great aspiration that demands our own conscious evolution as human beings and that the greatest clinical asset is not what we know, but who we are.</p>
    <a href="<%= signup_url %>" title="Sign Up!" class="signup"><p>Click here for free access.</p></a>
  </div>
  
  <div id="section_overview">
    <div class="courses">
      <h2><a href="<%= courses_url %>" title="Courses">Read Articles</a></h2>
      <p>Engage with leading-edge content from many of today's most influential and respected practitioners of Oriental medicine. Read articles, interviews, reprints from journals, and other texts that broaden your perspective on the practice of medicine in an evolutionary context. </p>
    </div>
    
    <div class="discussions">
      <h2><a href="<%= discussions_url %>" title="Discussions">Join Discussions</a></h2>
      <p>Discuss what you're learning, discovering, and wondering with leaders and peers alike. Moderated by a panel of recognized experts, the discussions at NourishingDestiny take on a distinctly professional and rich form, making for substantive and dynamic conversation.</p>
    </div>
    
    <div class="people">
      <h2><a href="<%= users_url %>" title="People">Meet People</a></h2>
      <p>Connect with fellow practitioners and experts who share your interest in evolving and enlightening the practice of medicine. Post your own profile, with your bio, interests, and other information, and contact other members straight from the website.</p>
    </div>
  </div>
  
</div>
