development:
  adapter: mysql
  database: thoughtlead_development
  username: root
  password:
  host: localhost
  encoding: utf8

test:
  adapter: mysql
  database: thoughtlead_test
  username: root
  password:
  host: localhost
  encoding: utf8

production:
  adapter: mysql
  database: thoughtlead_development
  username: root
  password: 
  host: localhost
  encoding: utf8