<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>TOS</title>


</head>


<body>

<div style="text-align: center;"><big><big><big>Evolutionary
Marketer Terms of Use</big></big></big><br>

</div>

<table align="center" width="600">

  <br>

1. Acceptance of Terms. This Terms and Conditions of Use Agreement (the
&ldquo;Agreement&rdquo;) sets forth legally binding terms for
your use of the Website. By using our Website, you agree to be bound by
this Agreement, whether you are a &quot;Visitor&quot; (which means that you
simply browse our Website) or you are a &quot;Member&quot; (which means that you
have registered on our Website as a user). If you do not accept the
terms of this Agreement, you should leave our Website and discontinue
use of the Service immediately. We may modify this Agreement from time
to time, and such modification shall be effective upon its posting on
our Website. You agree to be bound by any modification to this
Agreement when you use our Website after any such modification is
posted; it is therefore important that you review this Agreement
regularly. <br>

  <br>

2. General Registration Requirements. If you wish to become a Member,
communicate with other Members and otherwise make use of the Service,
you must read this Agreement and indicate your acceptance during the
registration process. In consideration of your use of the Service, you
represent that you are of legal age to form a binding contract and are
not a person barred from receiving services under the laws of the
United States or other applicable jurisdiction. You also agree to: (a)
provide true, accurate, current and complete information about yourself
as prompted by the registration form available on our Website (the
&quot;Registration Data&quot;) and (b) maintain and promptly update your
Registration Data to keep it true, accurate, current and complete. If
you provide any information that is untrue, inaccurate, not current or
incomplete, or we have reasonable grounds to suspect that such
information is untrue, inaccurate, not current or incomplete,
EvolutionaryMarketer.com reserves the right to suspend or terminate
your account and refuse any and all current or future use of the
Service (or any portion thereof). Use of the Service and membership on
our Website is void where prohibited.<br>

  <br>

3. Member Account, Password and Security. If you register on our
Website, you will be required to choose a password and user name, and
you may be asked for additional information regarding your account,
such as your e-mail address. You are responsible for maintaining the
confidentiality of the password and account information, and are fully
responsible for all activities that occur under your password or
account. You agree to (a) immediately notify EvolutionaryMarketer.com
(email: support@thoughtlead.com) of any unauthorized use of your
password or account or any other breach of security, and (b) ensure
that you log out from your account at the end of each session. The
Website will not be liable for any loss or damage arising from your
failure to comply with this paragraph.<br>

  <br>

4. Prohibited Conduct. You agree not to use the Service to post or
otherwise transmit information, data, text, software, music, sound,
photographs, graphics, video, messages, tags, or other materials
(&quot;Content&quot;) that:<br>

&bull;&nbsp;&nbsp; &nbsp;is patently offensive and/or
promotes racism, bigotry, hatred or physical harm of any kind
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; against
any group or individual; <br>

&bull;&nbsp;&nbsp; &nbsp;harasses or advocates
harassment of another person; <br>

&bull;&nbsp;&nbsp; &nbsp;exploits people in a sexual or
violent manner; <br>

&bull;&nbsp;&nbsp; &nbsp;contains nudity, violence, or
offensive subject matter; <br>

&bull;&nbsp;&nbsp; &nbsp;solicits personal information
from anyone under the age of eighteen (18); <br>

&bull;&nbsp;&nbsp; &nbsp;provides any telephone
numbers, street addresses, last names or email addresses of anyone<br>

other than your own; <br>

&bull;&nbsp;&nbsp; &nbsp;promotes information that you
know is false or misleading or promotes illegal activities or conduct
that is abusive, threatening, obscene, defamatory or libelous; <br>

&bull;&nbsp;&nbsp; &nbsp;violates any intellectual
property or other proprietary right of any third party, including
Content that promotes an illegal or unauthorized copy of another
person's copyrighted work, such as providing pirated computer programs
or links to them, providing information to circumvent
manufacture-installed copy-protect devices, or providing pirated music
or links to pirated music files; <br>

&bull;&nbsp;&nbsp; &nbsp;involves the transmission of
&quot;junk mail,&quot; &quot;chain letters,&quot; or unsolicited mass mailing, instant
messaging, &quot;spimming,&quot; or &quot;spamming&quot;; <br>

&bull;&nbsp;&nbsp; &nbsp;contains restricted or
password only access pages or hidden pages or images (those not linked
to or from another accessible page); <br>

&bull;&nbsp;&nbsp; &nbsp;furthers or promotes any
criminal activity or enterprise or provides instructional information
about illegal activities including, but not limited to making or buying
illegal weapons, violating someone's privacy, or providing or creating
computer viruses; <br>

&bull;&nbsp;&nbsp; &nbsp;solicits passwords or personal
identifying information for commercial or unlawful purposes from other
Members; <br>

&bull;&nbsp;&nbsp; &nbsp;involves commercial activities
and/or sales without our prior written consent, such as contests,
sweepstakes, barter, advertising, or pyramid schemes; <br>

&bull;&nbsp;&nbsp; &nbsp;includes a photograph of
another person that you have posted without that person's consent or,
in the case of children under the age of eighteen (18), parental
consent, or otherwise constitutes an invasion of an
individual&rsquo;s privacy or infringement of publicity rights; or <br>

&bull;&nbsp;&nbsp; &nbsp;contains a virus or other
harmful component. <br>

  <br>

5. Responsibility for Content. You, and not the Website, are entirely
responsible for all Content that you upload, post, email, transmit or
otherwise make available via the Service. The Website does not control
the Content posted via the Service and, as such, we do not guarantee
the accuracy, integrity or quality of such Content. You understand that
by using the Service, you may be exposed to Content that you deem
offensive, indecent or objectionable. Under no circumstances will the
Website be liable in any way for any Content, including, but not
limited to, any errors or omissions in any Content, or any loss or
damage of any kind incurred as a result of the use of any Content
posted, emailed, transmitted or otherwise made available via the
Service.<br>

  <br>

6. Rejection/Removal of Content. You acknowledge that the Website may
or may not pre-screen Content posted on our Website, but that the
Website shall have the right (but not the obligation) in its sole
discretion to pre-screen, edit, refuse, or remove any Content or
portion thereof that is available via the Service, in its sole
discretion, for any reason. Without limiting the foregoing, the Website
shall have the right to remove from our Website any Content that
violates this Agreement or is otherwise objectionable in the sole
discretion of the Website, or to restrict, suspend, or terminate your
access to all or any part of the Service at any time, for any or no
reason, with or without prior notice, and without liability. If you
become aware of misuse of the Service by any person, please contact the
Website (email: support@thoughtlead.com).<br>

  <br>

7. Preservation/Disclosure. You acknowledge, consent and agree that the
Website may access, preserve and disclose your account information and
Content if required to do so by law or in a good faith belief that such
access, preservation or disclosure is reasonably necessary to: (a)
comply with legal process; (b) enforce this Agreement; (c) respond to
claims that any Content violates the rights of third parties; (d)
respond to your requests for customer service; or (e) protect the
rights, property or personal safety of the Website, its Members and the
public. Under no other circumstances will the Website intentionally
disclose your account information to any third party.<br>

  <br>

8. Security Components. You understand that our Website and software
embodied within our Website may include security components that permit
digital materials to be protected, and that use of these materials is
subject to usage rules set by the Website and/or content providers who
provide content to the Website. You may not attempt to override or
circumvent any such security components and usage rules embedded into
our Website.<br>

  <br>

9. Non-commercial Use. The Service may not be used in connection with
any commercial purposes, except as specifically approved by
Evolutionary Marketer. Unauthorized framing of or linking to any of our
Website is prohibited. Commercial advertisements, affiliate links, and
other forms of solicitation may be removed from Member profiles and
Content without notice and may result in termination of membership
privileges. <br>

  <br>

10. Ownership of Content. Evolutionary Marketer does not claim
ownership rights in any Content you post on the Website. Subject to the
non-exclusive license contained in the following paragraph, as between
Evolutionary Marketer and you, you will retain all intellectual
property rights that you may have in any Content that you post on the
Website. <br>

  <br>

11. License to Your Content. In order to be able to offer you the use
of our Website and the Service, you are required to grant a license to
Evolutionary Marketer to use and distribute your Content. This enables
us to permit other visitors to the site to view and share your Content,
and to display your Content in other places within the Website.
Accordingly, by posting, displaying, publishing, transmitting, or
otherwise making available (individually and collectively, &quot;posting&quot;)
any Content on or through our Website or the Service, you hereby grant
to Evolutionary Marketer a non-exclusive (meaning you can license the
Content to other parties as well), fully-paid, royalty-free, perpetual,
irrevocable, worldwide license (including the right to sublicense) to
use, copy, modify, adapt, translate, create derivative works, publicly
perform, publicly display, store, reproduce, transmit, distribute, and
otherwise make available such Content on and through our Website, in
print, or in any other format or media now known or hereafter invented,
without any obligation of notification, compensation, attribution or
consent. Notwithstanding the foregoing, we will not use your Content to
create commercial products such as books. For purposes of this Section,
&ldquo;commercial products&rdquo; does not include use on our
Website in any manner or any promotional materials we may create,
whether online or otherwise. If you wish to remove any Content from the
Service, your ability to do so may depend on the type of Content, the
location and manner of posting, and other factors. You may contact us
at support@thoughtlead.com to request the removal of certain Content
you have posted, but Evolutionary Marketer has no obligation to remove
any such Content, may choose whether or not to do so in its sole
discretion, and makes no guarantee as to the complete deletion of any
such Content and copies thereof. In any case, a back-up or residual
copy of any Content posted by you may remain on Evolutionary Marketer's
servers after the Content appears to have been removed from our
Website, and Evolutionary Marketer retains all rights granted in this
paragraph to all such remaining copies. You represent and warrant that:
(i) you own all right, title and interest in all Content posted by you
on or through our Website or the Service, or otherwise have the right
to grant the license set forth in this section, and (ii) the posting of
your Content on or through our Website or Service does not violate the
privacy rights, publicity rights, copyrights, trademarks, patents,
trade secrets, contract rights, confidentiality, or any other rights of
any third party.<br>

  <br>

12. Evolutionary Marketer and Third Party Content. Our Website contains
Content of Evolutionary Marketer (&quot;Evolutionary Marketer Content&quot;), and
Content of third party licensors to Evolutionary Marketer (including
content provided by you and other users of our Website, as described
above), which is protected by copyright, trademark, patent, trade
secret and other laws. Evolutionary Marketer owns and retains all
rights, title and interest in the Evolutionary Marketer Content.
Evolutionary Marketer hereby grants to you a limited, revocable,
non-sublicensable license to reproduce and display a single copy of the
Evolutionary Marketer Content and any third party Content located on or
available through our Website or Service (excluding any software code
therein) solely for your personal, non-commercial use in connection
with viewing our Website and using the Service. Except for Content
posted by you, you may not copy, modify, translate, publish, broadcast,
transmit, distribute, perform, display, make available, or sell any
Content appearing on or through our Website or Service.<br>

  <br>

13. Other Sites. Our Website may contain links to other sites owned by
third parties (i.e. advertisers, affiliate partners, strategic
partners, or others). We are not responsible for examining or
evaluating, and we do not warrant the products or offerings of, any of
these businesses or individuals, or the accuracy of the content of
their website. Evolutionary Marketer does not assume any responsibility
or liability for the actions, product, and content of any such website.
Before you use any third party website, you should review the
applicable terms of use and policies for such website. The inclusion of
a link in any of our Website does not imply Evolutionary
Marketer&rsquo;s endorsement of such third party website. If you
decide to access any such linked website, you do so at your own risk. <br>

  <br>

14. International Use. Due to the global nature of the Internet, you
agree to comply with all local rules regarding online conduct and
acceptable Content. Specifically, you agree to comply with all
applicable laws regarding the transmission of technical data exported
from the United States or the country in which you reside.<br>

  <br>

15. Privacy Policy. Evolutionary Marketer respects your privacy and
permits you to control certain aspects of the treatment of your
personal information as set forth in our Privacy Policy. A complete
statement of our current privacy policy can be found below this
document. The Privacy Policy is expressly incorporated into this
Agreement by this reference.<br>

  <br>

16. Copyright Policy. Evolutionary Marketer has in place certain
legally mandated procedures regarding allegations of copyright
infringement occurring on our Website or with the Service. Evolutionary
Marketer reserves the right in its sole discretion to immediately
suspend and/or terminate access to the Service or our Website by any
user who is alleged to have infringed on the intellectual property
rights of Evolutionary Marketer or of a third party, or otherwise
violated any intellectual property laws or regulations. Evolutionary
Marketer&rsquo;s policy is to investigate any allegations of
copyright infringement brought to its attention. If you have evidence,
know, or have a good faith belief that your rights or the rights of a
third party have been violated and you want Evolutionary Marketer to
delete, edit, or disable the material in question, you must provide
Evolutionary Marketer with all of the following information: (a) a
physical or electronic signature of a person authorized to act on
behalf of the owner of the exclusive right that is allegedly infringed;
(b) identification of the copyrighted work claimed to have been
infringed, or, if multiple copyrighted works are covered by a single
notification, a representative list of such works; (c) identification
of the material that is claimed to be infringed or to be the subject of
infringing activity and that is to be removed or access to which is to
be disabled, and information reasonably sufficient to permit
Evolutionary Marketer to locate the material; (d) information
reasonably sufficient to permit Evolutionary Marketer to contact you,
such as an address, telephone number, and if available, an electronic
mail address at which you may be contacted; (e) a statement that you
have a good faith belief that use of the material in the manner
complained of is not authorized by the copyright owner, its agent, or
the law; and (f) a statement that the information in the notification
is accurate, and under penalty of perjury, that you are authorized to
act on behalf of the owner of an exclusive right that is allegedly
infringed. For this notification to be effective, you must provide it
to Evolutionary Marketer by e-mail at: support@thoughtlead.com.<br>

  <br>

17. Member Disputes. You are solely responsible for your interactions
with other Members. Evolutionary Marketer reserves the right, but has
no obligation, to monitor disputes between you and other Members. <br>

  <br>

18. Term and Termination. This Agreement shall remain in full force and
effect for so long as it is posted on our Website. You may terminate
your membership at any time, for any reason, by emailing us of your
desire to do so, or by calling support at 240-461-6170. Evolutionary
Marketer reserves the right to terminate your account or your access to
our Website immediately, with or without notice to you, and without
liability to you, if Evolutionary Marketer believes that you have
breached any of the terms of this Agreement, furnished Evolutionary
Marketer with false or misleading information, or interfered with use
of the Website or the Service by others.<br>

  <br>

19. Disclaimer of Warranties. You expressly understand and agree that: <br>

&bull;&nbsp;&nbsp; &nbsp;Your use of the Website and
the Service is at your sole risk. The Website and the Service are
provided on an &quot;as is&quot; and &quot;as available&quot; basis. Evolutionary Marketer
and its subsidiaries, affiliates, officers, employees, agents, partners
and licensors expressly disclaim all warranties of any kind, whether
express or implied, including, but not limited to the implied
warranties of merchantability, fitness for a particular purpose and
non-infringement, with respect to the service, the website, and any
third party website with which they are linked. <br>

&bull;&nbsp;&nbsp; &nbsp;Evolutionary Marketer and its
subsidiaries, affiliates, officers, employees, agents, partners and
licensors make no warranty that (i) the Website or the Service will
meet your requirements; (ii) the Website or Service will be
uninterrupted, timely, secure, error-free, OR FREE OF ANY HARMFUL
COMPONENTS (INCLUDING VIRUSES); (iii) the results that may be obtained
from the use of the Website or Service will be accurate or reliable;
and (iv) the quality of any Content, products, services, information or
other material purchased or obtained by you through the Website or
Service will meet your expectations. WE DO NOT PROVIDE ANY
REPRESENTATIONS OR WARRANTIES AGAINST THE POSSIBILITY OF DELETION,
MISDELIVERY OR FAILURE TO STORE COMMUNICATIONS, PERSONALIZED SETTINGS,
OR OTHER DATA. <br>

&bull;&nbsp;&nbsp; &nbsp;Any material downloaded or
otherwise obtained through the use of our Website or the Service is
accessed at your own discretion and risk, and you will be solely
responsible for any damage to your computer system or loss of data that
results from the download of any such material. <br>

  <br>

20. Limitation on Liability. To the fullest extent permitted by
applicable laws. In no event will Evolutionary Marketer, its
affiliates, subsidiaries, employees, agents, suppliers, or contractors
be liable to you or any third party for any indirect, consequential,
exemplary, incidental, special or punitive damages, including lost
profit damages arising from or in connection with the use of the
service, the Website or any website with which they are linked, even if
Evolutionary Marketer has been advised of the possibility of such
damages. Notwithstanding anything to the contrary contained herein,
Evolutionary Marketer's liability to you for any cause whatsoever and
regardless of the form of the action, will at all times be limited to
the amount paid, if any, by you to Evolutionary Marketer for the
Services.<br>

  <br>

21. Exclusions and Limitations. Some jurisdictions do not allow the
exclusion of certain warranties or the limitation or exclusion of
liability for incidental or consequential damages. Accordingly, in
certain jurisdictions, some of the above limitations of liability may
not apply to you; all other provisions of this Agreement remain in full
force and effect.<br>

  <br>

22. Indemnity. You agree to indemnify, defend, and hold harmless
Evolutionary Marketer, its affiliates, subsidiaries, officers,
directors, employees, consultants, agents, and representatives from any
and all third party claims, losses, liability, damages, and/or costs
(including reasonable attorney fees and costs) arising from your breach
of the terms of this Agreement, or your infringement, or infringement
by any other user of your account, of any intellectual property or
other right of any person or entity. Evolutionary Marketer will notify
you promptly of any such claim, loss, liability, or demand, and will
provide you with reasonable assistance, at your expense, in defending
any such claim, loss, liability, damage, or cost.<br>

  <br>

23. Additional Terms. We may also require you to follow additional
rules, guidelines or other conditions (&ldquo;Additional
Terms&rdquo;) in order to participate in certain promotions or
activities available through our Website, to obtain certain premium
Content through our Website, or for other reasons. In addition, certain
Additional Terms will govern any purchases you make through the online
stores located on our various Website. These Additional Terms will be
posted on the relevant portions of our Website or on the portions of
our Website that describe the specific promotions, Content, or
activities. These Additional Terms are part of this Agreement, and you
agree to comply with them when you participate in those promotions,
purchase items from our online stores, or otherwise engage in
activities governed by such Additional Terms. <br>

  <br>

24. Modification and Discontinuation. We reserve the right at any time
to modify, edit, delete, suspend or discontinue, temporarily or
permanently the Service or any of our Website (or any portion thereof)
with or without notice. You agree that we will not be liable to you or
to any third party for any such modification, editing, deletion,
suspension or discontinuance of the Service or our Website.<br>

  <br>

25. Entire Agreement. This Agreement, together with any other terms or
policies referenced herein (including without limitation the Privacy
Policy and Additional Terms), constitutes the entire agreement between
you and Evolutionary Marketer and governs your use of the Website and
Service, superseding any prior agreements between you and Evolutionary
Marketer with respect to the Website and Service.<br>

  <br>

26. Choice of Law and Forum. This Agreement and the relationship
between you and Evolutionary Marketer shall be governed by the laws of
the State of Massachusetts without regard to its conflict of law
provisions. You and Evolutionary Marketer agree to submit to the
personal and exclusive jurisdiction of the courts located within
Berkshire County, Massachusetts.<br>

  <br>

27. Waiver and Severability of Terms. The failure of Evolutionary
Marketer to exercise or enforce any right or provision of this
Agreement shall not constitute a waiver of such right or provision. If
any provision of this Agreement is found by a court of competent
jurisdiction to be invalid, the parties nevertheless agree that the
court should endeavor to give effect to the parties' intentions as
reflected in the provision, and the other provisions of this Agreement
remain in full force and effect.<br>

  <br>

28. Statute of Limitations. You agree that regardless of any statute or
law to the contrary, any claim or cause of action arising out of or
related to use of the Website, the Service or this Agreement must be
filed within one (1) year after such claim or cause of action arose or
be forever barred.<br>

  <br>

29. Questions. If you have any questions regarding this Agreement,
please contact us by email at support@thoughtlead.com.<br>

  <br>

These terms of service were last updated on March 11, 2009. <br>

  <br>

</table>

<big><big><big>
<div style="text-align: center;">Evolutionary Marketer
Privacy Policy</div>

</big></big></big> <br>

<table align="center" width="600">

This Evolutionary Marketer Community Privacy Policy (&ldquo;Privacy
Policy&rdquo;) governs your use of the Evolutionary Marketer
Community website. (&ldquo;Evolutionary Marketer&rdquo;). We
know how you value your privacy, and we have created this Privacy
Policy to ensure that you understand our policies and procedures, what
personal information you must provide if you wish to use certain
portions of our Website and, ultimately, just how we use such personal
information. This Privacy Policy is a part of and is incorporated into
our Evolutionary Marketer Community Terms and Conditions of Use. By
accessing or using our Website, you accept, without limitation or
qualification, the terms of this Privacy Policy.<br>

  <br>

1. Information Collected By Our Website<br>

We collect two types of information from users of our Website: personal
information described below; and non-personal information such as
information about traffic patterns on our Website.<br>

  <br>

2. Personal Information<br>

To access certain portions of our Website, we require you to register
and select a user name and password. Some personal data is collected
during the registration process. We may then ask for additional
information, including personally identifiable and non-personally
identifiable information. <br>

When you make a purchase on our Website, or when you enter a contest or
other promotion, we may ask you for certain personal information such
as your name, address, e-mail address, or credit card number, in order
to process your order, administer the contest, or send you promotional
e-mails. Providing personal information in these instances is solely
your choice; you do not need to provide such information, make
purchases, or enter such contests to browse our Website.<br>

  <br>

3. How We Use Your Personal Information<br>

We use the information collected on our Website for a variety of
purposes, including, but not limited to, running the Website and
contacting users. Our Website may also make available to other
registered users information provided by you during registration, such
as your screen name. We may use your information to communicate back to
you, to update you on products, services and benefits, to personalize
our Website for you, to contact you for market research or to provide
you with marketing information, newsletters, or other information we
think would be of particular interest. In addition, if you make a
purchase on our Website, we may send you order and shipping
confirmation emails. We will always give you the opportunity to opt out
of receiving such materials.<br>

You can remove your e-mail address from our e-mail list at any time by
clicking on the &ldquo;unsubscribe&rdquo; link in every
Evolutionary Marketer e-mail. <br>

  <br>

Information obtained through our Website may be intermingled with and
used in conjunction with information obtained through sources other
than our Website, including both offline and online sources. <br>

  <br>

4. Discussions and Community Tools<br>

Our Website may make chat rooms, forums, bulletin boards, news groups
and other community tools available to registered users and/or
visitors. Please remember that any information that is disclosed in
these areas becomes public information for other users to view and for
Evolutionary Marketer to use. Please do not disclose any personally
identifiable information in these publicly accessible areas of our
Websites. Please be considerate and respectful of others while using
any chat rooms, forums or message boards to share your opinion. <br>

  <br>

5. Non-Personal Data<br>

In some cases, we may collect non-personal information. Examples of
this type of information include the type of internet browser you are
using, the type of computer operating system application software, and
peripherals you are using and the domain name of the web site from
which you linked to our Site. We use your information on an aggregated
basis to do such things as operate and enhance our Website. <br>

  <br>

6. Cookies<br>

Certain features on our Website utilize cookie technology. A cookie is
a small data file that certain web sites write to your hard drive when
you visit them. A cookie file can contain various types of information,
including a user ID that the site uses to track the pages you've
visited. We may use cookies to enhance your experience on our Website,
to determine user traffic patterns and for other purposes.<br>

  <br>

Most browsers are initially set up to accept cookies; however, you can
reset your browser to refuse all cookies or indicate when a cookie is
being sent or you can flush your browser of cookies from time to time.
(Note: you may need to consult the help area of your browser
application for instructions.) If you choose to disable your cookies
setting or refuse to accept a cookie, however, you may not be able to
access all areas of our Website.<br>

  <br>

7. Opt Out Procedures<br>

You have the option to opt out of receiving information from
Evolutionary Marketer and our Website. This opt out messaging will
appear at the bottom of every email that is sent out. If you no longer
wish to take advantage of our Website or receive any form of direct
contact from Evolutionary Marketer or our Website, whether it is email,
discounts, newsletters, or other promotional offers or materials,
contact us at: support@thoughtlead.com.<br>

  <br>

8. Reviewing or Changing Your Information<br>

In order to ensure that the information we maintain is accurate,
Evolutionary Marketer gives users the option to change or modify their
information previously provided during registration. If you would like
to change your information currently in our database please log in and
edit your profile or email us at support@thoughtlead.com.<br>

  <br>

9. Sharing of Your Information<br>

Evolutionary Marketer may share your personal information: (i) with
third parties who are under obligations of confidentiality with
Evolutionary Marketer or with Evolutionary Marketer&rsquo;s
affiliates or subsidiaries, (ii) if Evolutionary Marketer is required
by law to do so, (iii) in the event of a transfer of ownership of
Evolutionary Marketer, merger or other similar transaction, or (iv) as
otherwise set forth in this Privacy Policy. The following describes
some of the ways that your personal information may be disclosed to
third parties: <br>

  <br>

We may employ other third parties to perform services or functions on
our behalf in order to improve our Website, merchandising, marketing
and promotional efforts, communications or other services. Those third
parties may include authorized contractors, consultants and other
companies working with us (collectively, &quot;agents&quot;). They only have
access to personal information needed to perform their functions, and
they may not share any personal information with others or use it for
any other purpose than providing or improving Evolutionary
Marketer&rsquo;s services and offerings. <br>

We may share certain non-personal information with third parties for
advertising, promotional and other purposes. For example, we may work
with third party advertising companies, to serve and track our ads.
These third parties may serve other cookies. Our advertising partners
may use the non-personal information they collect from our Websites, in
the aggregate, to help us better market and serve our customers. <br>

  <br>

This Privacy Policy applies only to Evolutionary Marketer&rsquo;s
Website and does not address the practices of third parties who may
collect your personal information. You may visit other websites,
through links on our Websites, which may collect, use and share your
personal information in accordance with their own privacy policies. The
information practices of those linked websites are not covered by this
Privacy Policy, and we encourage you to be very cautious before you
disclose your personal information to others. <br>

  <br>

In order to provide you with the information, products or services
which you have requested, we may share or transfer your personal
information with our affiliates or subsidiaries, or third party agents
acting on their behalf. <br>

  <br>

Evolutionary Marketer may be obligated to cooperate with various law
enforcement inquiries. Evolutionary Marketer reserves the right to
disclose or transfer personal information and non-personal information
about you and your activities on our Websites in order to comply with a
legal requirement or request from law enforcement or other government
officials, administrative agencies or third parties as we, in our sole
discretion, determine necessary or appropriate for the administration
of justice, or in connection with an investigation of fraud,
intellectual property infringements or violations of any other law,
rule or regulation, our Evolutionary Marketer Community Terms and
Conditions of Use or other rules or policies of our Websites, the
rights of third parties, or an investigation of any other activity that
may expose us or you to legal liability, or to investigate any
suspected conduct which Evolutionary Marketer in its sole discretion
deems improper.<br>

  <br>

10. Security<br>

Providing a secure site is essential for your peace of mind and trust
in Evolutionary Marketer. We have installed encryption software
conforming to the Secure Socket Layers (SSL) protocol to safeguard all
financial information you send to us. Such information is stored on our
servers in a secure location. It is important for you to protect
against unauthorized access to your password and to your computer. If
your password is compromised, notify Customer Service at once at
support@thoughtlead.com.<br>

  <br>

11. Protection for Children<br>

Our Websites are not intended for users under the age of 18.
Furthermore, we have no intention of collecting personally identifiable
information from children (i.e., individuals under the age of 13).
Where appropriate, we take reasonable measures to inform children not
to submit such information to our Websites or in response to
advertisements.<br>

  <br>

12. Privacy Precaution Warning<br>

Please note that no data transmission over the Internet is 100% secure.
As a result, we cannot guarantee the security of the information that
you transmit via our online services. <br>

  <br>

13. Your Consent<br>

You may have certain rights under various state and federal statutes
that may apply to the personal and non-personal information collected
by Evolutionary Marketer online. By accepting the terms of this Privacy
Policy and using our Websites, you are waiving all of such rights as to
collection, use, disclosure and storage of your personally identifiable
and non-personal information as described herein. You recognize that we
are able to offer our Websites and services to you at our rates based
upon these terms, which are an integral part of our contract for the
provision of services.<br>

  <br>

By using our Website and providing your personal information to us, you
also authorize the export of your personal information to the USA, as
well as its storage and use as specified herein. This Privacy Policy
and our legal obligations are subject to the laws of Massachusetts and
the USA, regardless of the location of any user. Any claims or
complaints must be filed in the USA in the State of Massachusetts.<br>

  <br>

We may amend our Privacy Policy at any time, without notice to you, by
posting such revised Privacy Policy on this page, so you are always
aware of what information we collect, how we use it and under what
circumstances we may disclose it. Any changes will only apply to
information collected after the change is posted.<br>

  <br>

This Privacy Policy was last updated on March 11, 2009. <br>

</table>

</body>
</html>
