<div id="main_content">
	<div class="title bar">
		<h2>About</h2>
	</div>

	<p>The team behind the Evolutionary Marketer&mdash;Sam Rosen, Christiana Briddell, and Steve Haase&mdash;forms the core group driving Culture51, an emerging collective of evolutionaries who want to use the web as a force for good. We&#x27;re also in the process of creating and launching ThoughtLead, the software product powering this community.</p>
	<p>We&#x27;ve spent much of our careers pursuing non-profit, political, entrepreneurial, and environmental activism. We started our business and this community to create a better future, to make our lives an expression of the highest possibility we could imagine for human culture.</p>
	<p>We&#x27;ve also spent the past five years in the trenches of internet marketing. We&#x27;ve seen the good and the bad, the effective and ineffective. We&#x27;ve consulted for and partnered with both non-evolutionaries&mdash;those who feel that what <em>has been</em> always <em>will be</em>&mdash;and evolutionaries&mdash;those who are awakening to a deep impulse within them to change the world from the inside out.</p>
	<p>And a truism has emerged throughout our work: to borrow a line from the great Seth Godin, <em>marketing works</em>. It just does. Whether the person trying to purvey an idea knows it or not, marketing goes on working. </p>
	<p>Because of that fact, many of us have become cynical about marketing. We see it as a necessary evil&mdash;a dirty, manipulative, <em>unevolved</em> method of making money. </p>
	<p>But &ldquo;marketing&rdquo; doesn&#x27;t have to look like it has in the past. Yes, it <em>has</em> been used for less-than-noble purposes; it has been curated by people with less-than-noble motives. What <em>has been</em>, however, need not set a precedent for what it <em>can be</em>. </p>
	<p>Marketing is a tool. A tool to make an impact&mdash;either for good or for bad. And which side of the line marketing falls on <em>actually depends entirely upon us</em>. If we ignore marketing, we make less of an impact. If we do it the old way, we maintain the status quo. But if <em>we</em> evolve, if we awaken more deeply to impulse within us to transform and create a better future, and then act upon that impulse through our marketing and come together with others who are doing the same, we actually help to evolve <em>culture</em>&mdash;and make a bigger impact than we ever could have otherwise. </p>
	<p>That&#x27;s the vision and goal of Evolutionary Marketer.</p>

</div>