<h3>About <%= current_community %></h3>
<p>Part software platform, part conscious business network, part marketing service — and driven entirely by a passion to create a better future — ThoughtLead's goal is to evolve the way ideas are shared, spread, and monetized online.</p>