<div id="main_content">
	<div class="title bar">
		<h2>About <%= h(current_community) %></h2>
	</div>
	<p>ThoughtLead was founded in 2007 by Sam Rosen, Christiana Briddell, and Steve Haase. It started with an inspired idea: teaching marketing as a tool for good. So we decided to create a membership site around the topic. We looked high and low for an attractive, straight-forward, privately branded membership site software. We couldn't find one. So we decided to build it ourselves. (We don't give up easily).</p>

	<p>Fast-forward two years. We're now in beta, and are planning to launch this summer.</p>

	<p>And by the way, we did create that marketing site. If you're interested in marketing for good, join us at <a href="http://www.evolutionarymarketer.com/">www.EvolutionaryMarketer.com</a></p>

	<p>Some of the principles behind the software:</p>

	<ol>
		<li>Communities truly thrive when they have a central focus, a guiding purpose.</li>
    <li>When you're trying to bring people together for a purpose, collective inquiry and dialogue trumps isolated expression. That's why we designed our discussion area to pull people together, rather than spread them apart.</li>
		<li>For communities where learning and development are the aim, better to keep profiles functional, rather than abridged autobiographies. And besides, most people don't want to write down their favorite books, music, and movies for every site. We keep it simple.</li>
		<li>Many membership sites have "featuritis". In keeping with the agile tradition, we believe less is more. See #5.</li>
		<li>People are happy when they aren't confused. Ease of navigation and clean design are key components of our design philosophy.</li>
		<li>Despite #4, we don't want to fall into a narrow-minded, stubborn relationship to our customers' needs, where we "always know best." Although we're committed to ease of use, we're also completely committed to growing with you and giving you the best membership platform on the planet.</li>
	</ol>
</div>









