/*	===================
	BASIC ELEMENTS
	===================*/

/* ACTION LINKS */
#secondary ul.actions li {background:#99c903 url(images/action_bottom.gif) bottom left no-repeat;}
#secondary ul.actions li.action span {display:block; background:url(images/action_top.gif) top left no-repeat;}
#secondary li.action a, body li.action a:visited {background:none;}
li.action a, body li.action a:visited {display:block; padding:5px 7px; margin-bottom:10px; color:#fff;}
li.action a:hover, li.action a:focus {color:#fff;}

#secondary ul.actions li.edit a {padding-left:32px; background:url(images/action_edit.gif) 8px center no-repeat;}
#secondary ul.actions li.add a {padding-left:32px; background:url(images/action_add.gif) 8px center no-repeat;}
#secondary ul.actions li.delete a {padding-left:32px; background:url(images/action_delete.gif) 8px center no-repeat;}
#secondary ul.actions li.email a {padding-left:32px; background:url(images/action_email.gif) 8px center no-repeat;}



/*	===================
	SECTIONS & PAGES
	===================*/

/*	HOME --------------- */
#page.home #small {padding:2px 15px 75px;}
.home #small .logo {text-align:center;}
.home img {margin-bottom:10px;}
.home .action {margin:20px 0;}
.promo {font: normal normal normal 18px/30px arial, sans-serif; margin-bottom:40px;}

/*	COURSE --------------- */
#primary ol.courses {}
#primary ol.courses li {padding:0 0 10px 30px; margin-bottom:20px; border-bottom:1px solid #e5e5e5; background:url(images/course_icon.gif) no-repeat 0px 1px;}
#primary ol.courses li h3 {display:inline;}
#primary a.action_sm {color:#99c903; padding-left:10px;}
#primary ol.courses p {margin-bottom:10px;}
#primary .course_description p {font: italic normal normal 15px/25px georgia, serif;}
#primary .info p {font:normal normal normal 14px/20px arial, sans-serif; margin:0; padding:0;}
div.chapter {text-transform:uppercase; border-bottom:1px solid #e5e5e5; color:#888; font: normal normal normal 13px/20px arial, sans-serif;}
div.chapter .chapter_title {display:block; float:left;}
div.chapter .chapter_actions {display:block; text-transform:none; text-align:right;}
	.chapter_actions .chapter_rename {margin-right:5px; padding-left:15px; background:url(images/chapter_edit.gif) left center no-repeat;}
	.chapter_actions .chapter_delete {margin-left:5px; padding-left:15px; background:url(images/chapter_delete.gif) left center no-repeat;}
#secondary h2 {color:#ff6b00;}

/*	LESSON --------------- */
#lesson_placeholder #primary div.lesson_info {margin-bottom:20px; border-bottom:1px dashed #bbb;}
#secondary p.premium {padding:10px; border: 1px solid #C8C159; background:#FFFDC8; margin-bottom:20px;}
#secondary a.action {margin: 0 0 5px !important;}
#secondary .course {font: normal normal normal 16px/20px arial, sans-serif;}
#secondary .course .course_title p {font: normal normal normal 16px/20px arial, sans-serif; padding-bottom:10px; margin-bottom:0px; border-bottom:1px solid #e5e5e5;}
#secondary .course_title span {display:block; text-transform:uppercase; margin-bottom:5px; font: normal normal normal 14px/20px arial, sans-serif; color:#aaa;}
#secondary .course .lessons {margin-bottom:0px;}
#secondary .course .lessons li {font: normal normal normal 15px/20px arial, sans-serif; padding-bottom:5px; margin:0 0 5px 15px; border-bottom:1px solid #e5e5e5;}
#secondary .course .lessons ol li.current {padding:3px; background:#79869D; color:#fff;}
#content #secondary ul, #content #secondary ol {padding:0; margin:0;}


/*	DISCUSSIONS --------------- */
/* Index */
.discussions .discussion, .comments .commment {border-bottom:1px solid #e5e5e5; margin-left:60px; position:relative; display:block;}
.discussions .discussion span.avatar, .comments .comment .span.avatar {position:absolute; left:-60px; top:5px;}
#primary .discussions .discussion p {padding:0; margin:0;}
.discussions .discussion {}
#content #secondary ul.categories {padding-top:25px;}
#secondary .categories .current a {padding:3px; background:#79869D; color:#fff;}

	/* Meta info */
	.discussions .discussion .meta_info {padding:5px 0 0;}
/* Show */
#primary ol.comments {padding-top:20px; margin-top:5px; border-top:1px solid #e5e5e5;}
#primary ol.comments p {font: normal normal normal 14px/20px arial, sans-serif;}
ol.comments li {margin-bottom:20px; border-bottom:1px solid #e5e5e5;}
.comment_info {font-weight:bold;}

/*	PROFILE --------------- */
#user_profile .about, #user_profile .interests, #user_profile .websites {border-top:1px solid #e5e5e5; padding:10px 0 0; margin:0 !important; overflow:hidden;}
#user_profile h3 {display:block; width:100px; float:left; margin:0 10px 20px 0; font:normal normal normal 14px/20px arial, sans-serif; text-align:right; text-transform:uppercase;}
#user_profile div.section_body p {margin-top:0;}
#user_profile div.section_body {width:400px; float:right; padding:0; margin:0;}
img#profile_avatar {float:left; margin:0 10px 0 0;}
div.user_info {overflow:hidden;}
div.user_info h1 {padding-top:20px;}

/*	USERS  --------------- */
li.user {line-height:48px; padding-bottom:30px;}
.user_list {width:910px; float:left;}
.user_list li.user {display:block; overflow:hidden; float:left; width:273px; margin-right:30px;}


/* Forms */
form {padding-right:14px;}
label {font: normal normal normal 14px/20px arial, sans-serif; color:#000;}
input.text, label, textarea {display:block;}
input, textarea {margin-bottom:20px; max-width:100%;}
textarea, label, input.text {width:100%;}
textarea, input.text {padding:5px; font: normal normal normal 14px/18px arial, sans-serif; color:#555;}
#content #primary .plus_label {margin:5px 0 0;}
.plus_label {display:block; position:relative; overflow:hidden;}
.plus_label input {margin:4px 10px 10px 0; display:block; float:left;}
.plus_label label {display:block;}
form input.text {display:block; margin-bottom:20px;}
form input.single, form textarea.single {font-size:18px; line-height:20px;}
#new_community div.subdomain {overflow:hidden; margin-bottom:0; line-height:34px;}
#new_community #community_subdomain {width:50% !important; float:left; margin-right:10px;}
form input.medium, form textarea.medium {height:75px;}
form input.large, form textarea.large {height:250px;}s

.grouped {margin-bottom:0;}




/*	===================
	TESTING
	===================*/
 {background:silver;}
 {background:gray;}
