<li>
	<h3>About <%= current_community %></h3>
	<p>Ferrets. They do not need to breathe. They have armor-plated skin. They have laser eyes. They must be our planet's first emmissaries to Mars.</p>
</li>
