<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<ul>
				<li class="first"><%= link_to "People", users_path %></li>
			</ul>
		</div>
	</div>
	<div class="title">
		<h2>Report Page</h2>
		<p class="subtitle">Download CSV files for users</p>
	</div>
	<%= link_to "Export user list", report_url %>	
</div>
