<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<ul>
				<li class="first"><%= link_to "People", users_path %></li>
			</ul>
		</div>
	</div>
	<div class="title">
		<h2>Report Page</h2>
		<p class="subtitle">Download CSV files for users</p>
	</div>
	<div id="export_users" class="export_users">
		<% form_tag :controller=>'report', :action=>'export_users' do %>
	  		<%= text_field( :before_date, {}, :class=>"inp_text") %>
			<%= submit_tag("Export user list") %>
  		<% end %>
	</div>
</div>
