<% form_for [@course, @chapter, @lesson], :html => { :multipart => true, :class => "edit" } do | l | %>
	<%= render :partial => '/contents/edit_content', :locals => { :content => @lesson.content } %>

	<fieldset class="submit">
		<ul class="submit_opts">
			<% if mode == :new %>
			<li><div class="button clear"><a href='javascript:document.getElementById("new_lesson").submit()'><span class="icon create">Create Lesson</span></a></div></li>
			<% else %>
			<li><div class="button clear"><a href='javascript:document.getElementById("edit_lesson_<%= @lesson.id %>").submit()'><span class="icon save">Save Changes</span></a></div></li>
			<% end %>
			<li class="text">or <%= link_to "Cancel", @course %></li>
		</ul>
	</fieldset>
<% end %>