<div id="main_content">
	<div class="title bar">
		<h2>Contact <%= h(current_community) %></h2>
	</div>
	<div class="module image">
		<img src="/images/content/map.gif" alt="Map" />
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	<dl class="contact">
		<dt>Lorem ipsum</dt>
		<dd>CEO, Company Name</dd>
		<dd>123 Memory Lane</dd>
		<dd>Lorem, IP 90121</dd>
	</dl>
</div>