<% @current_tab = :Courses %>

<div id="primary" class="<%= @current_tab.to_s.downcase %>">
	<div class="primary_title">
		<h2><%= @current_tab %></h2>
	</div>
	<div class="primary_content">
	  <h1>Edit this Course</h1>

	  <%= render :partial => 'form' %>
	</div>
</div>

