<% @current_tab = :Courses %>
<% @page_class = :courses_index %>

<div id="primary">
  <div class="courses">
    <% for course in @courses %>
      <h2 class="course_title grouped"><%= link_to h(course), course %></h2>
      <p class="course_description">
        <%=h course.description %>
      </p>
    <% end %>
  </div>
</div>
<div id="secondary">
  <div class="first">
    <%= link_to "+ Add a course", new_course_url, :class => 'action' if logged_in_as_owner? %>
  </div>
</div>

