<% @current_tab = :learn %>

<div id="primary">
  <h1>Courses</h1>
  <div class="courses">
    <% for course in @courses %>
      <h2 class="course_title">
        <%= link_to course, course %>
      </h2>
      <p class="course_description">
        <%= course.description %>
      </p>
    <% end %>
  </div>

  <div>
    <%= link_to "Add a course", new_course_url %>
  </div>
</div>

