<% @current_tab = :Courses %>
<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first"><%= link_to "Courses", courses_path %></li>
			</ul>
		</div>
		<% if logged_in_as_owner? %>
		<div class="action">
			<span class="button_left">&nbsp;</span><a href="<%= new_course_url %>" class="button"><span class="icon create">+</span><span class="text">Create a Course</span></a>
		</div>
	    <% end %>
	</div>

	<h2>Add a New Course</h2>
	<%= render :partial => 'form', :locals => { :mode => :new }  %>
</div>
