@charset "utf-8";
/* CSS Document */

body {
	background:url(../graphics/body_bg.gif) repeat-x;
	font: 12px/18px Arial, Verdana, sans-serif;
	color:#111111;
	margin:0;
	padding:0;
}
a, img {
	outline: none;
	border:0
}
a:hover {
	text-decoration: none;
}
.float_left {
	float:left;
}
.float_right {
	float:right;
}
.clear {
	clear:both
}
.posrel {
	position:relative;
	float:left;
}
/***Main Css***/
.content_area {
	margin: 0 auto;
	width:800px
}
/***Header****/
#header {
	margin:8px auto 0 auto;
	width:800px;
}
.headerinner {
	padding: 0 0 30px 0;
	float:left;
	width:800px;
}
#logo {
	float:left;
	width:499px;
	height:48px;
	background:url(../graphics/logo.gif) no-repeat left bottom;
	padding-top:28px;
}
#logo h1, #logo h1 a {
	float:left;
	width:369px;
	height:48px;
	text-indent:-9999px
}
.account_nav {
	float:right;
	background:#73aad4 url(../graphics/bottom_bar.gif) left bottom no-repeat;
	list-style-type:none;
	margin:0;
	width:61px;
	padding:0px 0 0px 0;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}
.account_nav li {
	float:left;
	padding:0px 0px;
}
.account_nav li.login {
	float:left;
	padding:0 5px 6px 21px;
	font-size:11px;
	font-weight:bold;
	background:url(../graphics/account_nav_lock_icon.gif) no-repeat 10px 5px;
}
.account_nav li a {
	color:#FFF;
	text-decoration:underline
}
.account_nav li a:hover {
	text-decoration:none
}
/***Mid Art section******/
.nav {
	float:left;
	width:100%;
	height:57px;
	background:url(../graphics/nav_bg.gif) repeat-x;
	margin-bottom:-57px
}
.nav_artwrapper {
	margin:0 auto;
	width:942px;
}
.nav_artwrapper .nav_art {
	float:left;
	width:851px;
	background:url(../graphics/mountain.gif) no-repeat;
	height:57px;
}
/***Mid Content***/
.mid_section {
	margin:0 auto;
	width:838px;
}
#content {
	background:url(../graphics/content_bg.png) no-repeat;
	padding:22px 0 0 20px;
	width:818px; 
	float:left;
	min-height:580px
}
/***Left Section*****/

#left_content {
	padding:0 0px;
	width:566px;
	overflow:hidden;
	float:left;
}
.tiopbanner {
	width:560px;
	float:left; padding:0 0 0 5px;
}
.banner {
	float:left;
	width:560px;
	background:#FBFBEE url(../graphics/home_banner_bg.gif) repeat-x left bottom;
	border:0;
	margin-top:5px
}
.banner p {
	float:left; margin:0; padding:12px 0 0 0;
	width:330px; font-size:13px; line-height:18px; color:#111111;
}




.bannerbot {
	background:#FDFCCF url(../graphics/corner_left.gif) no-repeat top left;
	width:560px;
	float:left;
	height:5px;
	overflow:hidden;
}
.bannerbot span {
	height:5px;
	width:5px;
	float:right;
	background:url(../graphics/corner_right.gif) no-repeat top right;
}
.banner_wrap {
	float:left;
	width:322px;
	padding:19px;
}
.image {
	position:absolute;
	left:378px;
	top:0px; 
	z-index:99999;
}
.top_heading {
	float:left;
	width:322px;
	font-size:20px;
	margin:0;
	padding:0 0 10px 0;
	color:#333333;
	font-weight:bold;
	line-height:20px
}
.inner_img {
	float:left;
	width:227px;
	height:241px;
	background:url(../graphics/home_screenshot.png) no-repeat
}
.midleftcontent {
	float:left;
	padding:0 10px 0 22px;
}
.midleftcontent h3 {
	float:left;
	width:510px;
	padding:15px 0 5px 0;
	line-height:24px; margin:0;
	font-size:20px;
	color:#333333;
	border-bottom:1px dotted #000;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight:normal;
}
.midleftcontent ul {
	width:510px;
	float:left;
	margin:0;
	padding:13px 0 20px 0;
	list-style-type:none;
}
.midleftcontent li {
	width:499px;
	float:left;
	margin:0;
	padding:0 0 15px 11px;
	list-style-type:none;
	font-size:13px;
	color:#333333;
	line-height:16px;
	background:url(../graphics/bullet.gif) 0 5px no-repeat;
}
.midleftcontent p {
	font-size:13px;
	color:#333333; margin:0; padding:0;
	line-height:16px;
	width:510px;
	float:left;
}
.midleftcontent p a {
	font-size:13px;
	color:#333333;
	line-height:16px;
	text-decoration:underline;
	font-weight:bold;
}
/****Right Section****/
.topbar {
	width:230px;
	height:5px;
	overflow:hidden;
	float:left;
	background:url(../graphics/top_right.gif) no-repeat;
}
.Midbar {
	width:230px;
	height:auto;
	float:left;
	padding:0 0 0 0;
}
.bottombar {
	width:230px;
	height:5px;
	overflow:hidden;
	float:left;
	background:url(../graphics/bottom_barrigh.gif) no-repeat;
}
#sidebar {
	float:left; padding-left:7px;
	margin-top:78px; 
	width:230px;
}
#form_section {
	float:left;
	width:230px;
	background:#FBFBEE url(../graphics/mid_bg.gif) repeat-y ;
	padding:0px 0 0 0;
}
#form_section h2 {
	float:left;
	width:200px;
	padding:20px 0 10px 20px;
	margin:0;
	color:#4b9e0e;
	font-size:16px;
}
#form_section fieldset {
	float:left;
	margin:0;
	padding:0 0 5px 20px;
	border:0;
	width:200px
}
#form_section fieldset.btnsection {
	float:left;
	margin:0;
	padding:5px 0 8px 20px;
	border:0;
	width:200px
}
fieldset.btnsection a {
	float:left;
	border:1px solid #d6d5ac;
	padding:5px 10px;
	font-size:13px;
	font-weight:bold;
	color:#111111;
	text-decoration:none
}
#form_section label {
	float:left;
	width:200px;
	height:18px;
	line-height:18px;
	margin:0;
	color:#4b9e0e;
	font-size:13px
}
.inputtxt {
	float:left;
	width:190px;
	border:1px solid #DBDA93
}
.accept {
	float:left;
	width:200px;
	font-size:13px;
	line-height:15px;
	color:#4b9e0e;
	padding:2px 10px 5px 20px
}
/****Footer*****/
#footer {
	float:left;
	width:100%;
	background:url(../graphics/footer_bg.gif) repeat-x left bottom;
	padding:40px 0 30px 0;
}
.credit {
	float:left;
	width:530px;
	font-size:13px;
	font-weight:bold;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	color:#b2b2b2;
	padding:0 0 0 20px;
}
.credit a {
	color:#000;
	font-size:13px;
	font-weight:bold;
	text-decoration:underline
}
.credit a:hover {
	text-decoration:none
}
.underline{ text-decoration:underline;}