<div id="primary" class="<%= @current_tab.to_s.downcase %>">
	<div class="primary_title">
		<h2><%= @current_tab %></h2>
	</div>
	<div class="primary_content">
		<%= render :partial => 'categories/category_form', :locals=>{:submit_text=>'Rename'} %>
	</div>
</div>
