<div id="main_content">
	<div class="title bar">
		<h2>About Thank God For Evolution</h2>
	</div>

	<br />
	<h3>A Personal Note from Michael Dowd</h3>

	<p>Thank you for coming to this site. I&rsquo;m honored that you&rsquo;re interested in my and Connie&rsquo;s work, and I hope you enjoy your time in this growing online community. First, a few words about why I&rsquo;m doing this.</p>

	<p>I see sacred views of evolution as the Good News (the &lsquo;gospel&rsquo;) of our time, personally and collectively. I thank God for the entire 14-billion-year epic of cosmic, biological, and human emergence, because an inspiring interpretation of the history of everything and everyone builds bridges, provides guidance, and restores realistic hope for individuals and families, for humanity, and for the body of life as a whole.</p>

	<p>My goal for this online community is to create a space where people who share this vision of life can deepen their understanding, connect with like-minded souls, and help create the new culture that celebrates religion and science as one integrated worldview.</p>

	<p>I look forward to sharing this miraculous journey with you.</p>

	<p>
		Sincerely,<br />
		Michael Dowd
	</p>
</div>