<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first no_tab"><%= link_to "Home", root_url %></li>
			</ul>
		</div>
	</div>
	<h2>Communities</h2>
	<ul>
	<% for community in @communities %>
		<li><%= link_to h(community), community %></li>
	<% end %>
	</ul>
</div>