<div id="main_content">
	<div class="content_bar" id="top">
		<div class="breadcrumbs">
			<p>Jump to:</p>
			<ul>
				<li class="first no_tab"><%= link_to "Home", root_url %></li>
			</ul>
		</div>
	</div>
	<h2>Communities</h2>
	<table>
		<% for community in @communities %>
			<tr>
				<td><%= link_to h(community), "http://#{community.host}" %></td>
				<td><%= community.active ? "Active" : "Inactive" %></td>
				<% if community != current_community %>
					<td><%= link_to community.active ? "Deactivate" : "Activate", :action => :toggle_activation, :id => community.id %></td>
				<% else %>
					<td>Your Community</td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>