<div id="primary">
  <h1>Dashboard for <%= current_community %></h1>
  
  <% if !current_community.active && current_community.eligible_for_free_trial %>
    <%= link_to "Start your free trial to ThoughtLead!" %>
  <% end %>
  
</div>


