<div id="main_content">
	<div class="title bar">
		<h2>Contact Thank God For Evolution</h2>
	</div>
	<p>Ours is an itinerant ministry, so we have no fixed address! But if you would like to email me or Connie, you can do so at <a href="mailto:&#105;&#110;&#102;&#111;&#64;&#116;&#104;&#97;&#110;&#107;&#103;&#111;&#100;&#102;&#111;&#114;&#101;&#118;&#111;&#108;&#117;&#116;&#105;&#111;&#110;&#46;&#99;&#111;&#109;">info@thankgodforevolution.com</a>. A member of the TGFE team will get back to you as quickly as possible.</p>
</div>