<div class="section_copy">
  <h2>About <%= current_community %></h2>
  <p>You&prime;ve read (or heard about) the book. Now you can take your exploration deeper with the TGFE! study guide online, lively discussions, and social networking. To get started, click on the first session, discuss what you&#8242;re thinking, and start contacting the people you find interesting and inspiring!</p>
</div>
