<% @current_tab = :Home %>

<div id="primary">
  
  <div id="community_promo">
    <h1>Take the Conversation Deeper</h1>
    <p>This is the FREE online companion course for <em>Thank GOD for EVOLUTION</em>.  The intent of the course is to help strengthen a community around the ideas expressed in the book and take everyone deeper into understanding and wisdom from the heart.  Before engaging on this site it is recommended that you either buy the book or download the FREE ebook.</p>
    <a href="<%= signup_url %>" title="Sign Up!" class="signup"><p>Click here for free access.</p></a>
  </div>
  
  <div class="banner"> 
    <p>Get Your Book Today!</p>
  </div>
  
  <div id="section_overview">
    <div class="courses">
      <h2><a href="<%= courses_url %>" title="Courses">Study Companion</a></h2>
      <p>Engage with leading-edge content from many of today's most influential and respected practitioners of Oriental medicine. Read articles, interviews, reprints from journals, and other texts that broaden your perspective on the practice of medicine in an evolutionary context. </p>
    </div>
    
    <div class="discussions">
      <h2><a href="<%= discussions_url %>" title="Discussions">Join Discussions</a></h2>
      <p>Discuss what you're learning, discovering, and wondering with leaders and peers alike. Moderated by a panel of recognized experts, the discussions at NourishingDestiny take on a distinctly professional and rich form, making for substantive and dynamic conversation.</p>
    </div>
    
    <div class="people">
      <h2><a href="<%= users_url %>" title="People">Meet People</a></h2>
      <p>Connect with fellow practitioners and experts who share your interest in evolving and enlightening the practice of medicine. Post your own profile, with your bio, interests, and other information, and contact other members straight from the website.</p>
    </div>
  </div>
  
</div>
