<% @current_tab = :Home %>

<div id="primary">
  
  <div id="community_promo">
    <h1>Take the Conversation Deeper</h1>
    <p>Welcome to the online community for <em>Thank GOD for EVOLUTION</em>. Here, you can watch media, learn how to lead groups, discuss your thoughts with others, and meet like-minded individuals. To get the most of out this site, we recommend that you first purchase the book, which you can do below. To get started, just click on the button below!</p>
    <a href="<%= signup_url %>" title="Sign Up!" class="signup"><p>Click here for free access.</p></a>
  </div>
  
  <div class="banner"> 
    <p><a href="#" title="Get your book today!">Get Your Book Today!</a></p>
  </div>
  
  <div id="section_overview">
    <div class="courses">
      <h2><a href="<%= courses_url %>" title="Courses">Take Courses</a></h2>
      <p>Deepen your understanding of <em>Thank God For Evolution!</em> and <em>The Great Story</em> through study guides, an online DVD, and more. We'll constantly be adding new resources to this section that help you in your personal practice and in your work to bring about change in the world.</p>
    </div>
    
    <div class="discussions">
      <h2><a href="<%= discussions_url %>" title="Discussions">Join Discussions</a></h2>
      <p>Discuss what you're learning, discovering, and wondering with leaders and peers alike. Our discussion area is there for the community to explore new ideas, ask important questions, and exchange stories. It is a living inquiry into the great story and its meaning and significance for our time.</p>
    </div>
    
    <div class="people">
      <h2><a href="<%= users_url %>" title="People">Meet People</a></h2>
      <p>Connect with others who share your interest in <em>Thank God For Evolution!</em> and the entire world of evolutionary spirituality. Post your own profile, with your bio, interests, and other information, and contact other members straight from the website.</p>
    </div>
  </div>
  
</div>
