/*	===================
	BASIC ELEMENTS
	===================*/

body {text-align:center; color:#555; margin-bottom:0; background:#a50b14;}

abbr {}
acronym {}
address {}
area {}
b {}
blockquote {}

/* HEADINGS*/
h1 {margin-bottom:20px; color:#3a3a3a; font: normal normal bolder 25px/30px arial, sans-serif; letter-spacing:-.03em; word-spacing:-.03em;}
h2 {margin:0; padding:0; font: normal normal bolder 18px/25px arial, sans-serif; letter-spacing:-.03em; word-spacing:-.03em;}
h3 {margin:10px 0 10px 0; padding:0; font: normal normal normal 17px/20px arial, sans-serif; letter-spacing:-.03em; word-spacing:-.03em;}

/* LINKS */
a, a:active, a:link {color:#9da93b; text-decoration:none;}
a:hover {text-decoration:underline; background:none;}
body a:visited {color:#9da93b;}
	
/* ACTION LINKS */
#secondary ul.actions li {background:#99c903 url(images/action_bottom.gif) bottom left no-repeat;}
#secondary ul.actions li.action span {display:block; background:url(images/action_top.gif) top left no-repeat;}
#secondary li.action a, body li.action a:visited {background:none;}
li.action a, body li.action a:visited {display:block; padding:5px 7px; margin-bottom:10px; color:#fff;}
li.action a:hover, li.action a:focus {color:#fff;}

#secondary ul.actions li.edit a {padding-left:32px; background:url(images/action_edit.gif) 8px center no-repeat;}
#secondary ul.actions li.add a {padding-left:32px; background:url(images/action_add.gif) 8px center no-repeat;}
#secondary ul.actions li.delete a {padding-left:32px; background:url(images/action_delete.gif) 8px center no-repeat;}
#secondary ul.actions li.email a {padding-left:32px; background:url(images/action_email.gif) 8px center no-repeat;}



/*	===================
	LAYOUT
	===================*/


/* Constraining Primary Divs*/
#header, #section, #content, #footer {position:relative;}

/* PAGE --------------- */
#page {background:#fff  url(images/body_bg2.gif) top left repeat-x;}
.head, #section, #content {width:930px; margin:0 auto; padding:0; text-align:left;}

/* HEADER --------------- */
#header {background:url(images/page_bg2.gif) right top no-repeat; text-align:right; min-height:110px; margin:0 10px; padding:0 20px; overflow:hidden;}

	/* COMMUNITY TITLE */
		/*Hide header text*/
	 	#header h1, #header h1 a {display:none;}
	body #page #header .community_title {position:relative; float:left; margin:34px 0 0; padding:0; overflow:hidden;}
	#header div.community_title a.logo {margin:0; padding:0;}
	
		
	/* USER CONTROLS */
	.user_controls {font-size:12px; line-height:29px; padding-bottom:5px;}
	.user_controls, .user_controls a, .user_controls a:visited {color:#fff;}
	.user_controls a.user {text-decoration:underline;}

	/* TOP NAVIGATION */
	ul.navigation_top {float:right; width:338px; font: normal normal normal 16px/40px arial, sans-serif; margin:30px 0 10px;}
	.navigation_top li {display:block; float:left; text-align:center; margin-left:6px; border-left:none; background:transparent;}
	.navigation_top li a.people {border-right:none;}
	.navigation_top a, .navigation_top a:visited, .navigation_top a:hover {display:block; height:49px; width:90px; padding:40px 0 0; line-height:49px; font-size:14px; text-decoration:none; color:#404040;}
	.navigation_top a.discussions, .navigation_top a.discussions:visited, .navigation_top a.discussions:hover {width:108px;}
	.navigation_top li.current {background:url() top left repeat-x;}
	.navigation_top li.current a, .navigation_top li.current a:visited {}
	.navigation_top li a.courses:hover, .navigation_top li a.discussions:hover, .navigation_top li a.people:hover {}
	
	.navigation_top li a.courses {background:url(images/courses_tab2.gif) center center no-repeat;}
	.navigation_top li.current a.courses {background:url(images/courses_tab.gif) center center no-repeat;}
	.navigation_top li a.courses:hover {background:url(images/courses_tab3.gif) center center no-repeat; color:#bf9115;}		
	
	.navigation_top li a.discussions {background:url(images/discussions_tab2.gif) center center no-repeat;}
	.navigation_top li.current a.discussions {background:url(images/discussions_tab.gif) center center no-repeat;}
	.navigation_top li a.discussions:hover {background:url(images/discussions_tab3.gif) center center no-repeat; color:#bf9115;}		
	
	.navigation_top li a.people {background:url(images/people_tab2.gif) center center no-repeat;}
	.navigation_top li.current a.people {background:url(images/people_tab.gif) center center no-repeat;}
	.navigation_top li a.people:hover {background:url(images/people_tab3.gif) center center no-repeat; color:#bf9115;}		
		

/* SECTION --------------- */
#section {height:49px; padding-bottom:0; border-bottom:none; background:#859728 url(images/section_header_a.gif) top right no-repeat !important;}
#section h2 {margin:0; padding:8px 30px; background:transparent; color:#555; font: normal normal normal 20px/25px arial, sans-serif; letter-spacing:-.03em; word-spacing:-.03em; line-height:49px; padding: 0 30px 0 70px;}
div#section.courses h2 {background:transparent url(images/section_courses.gif) top left no-repeat !important;}
div#section.discussions h2 {background:transparent url(images/section_discussions.gif) top left no-repeat !important;}
div#section.people h2 {background:transparent url(images/section_people.gif) top left no-repeat !important;}	

/* CONTENT --------------- */
#content {background:url(images/page_bg.gif) center top repeat-y; overflow:hidden; padding:20px 0 90px;}

	/* PRIMARY */
	#content #primary {position:relative; float:left; margin:0 -50px 0 10px; padding:30px 30px 50px 20px; width:510px;}
	#content #primary div {margin-bottom:20px;}
		/* FONTS */
		#primary p {margin:5px 0 20px; font: normal normal normal 13px/20px georgia, serif; letter-spacing:.05em; word-spacing:-.07em; color:#0e0b0d;}
		#primary h2 a {color:#859728;}	
	
	/* SECONDARY */
	#content #secondary {position:relative; float:right; margin-right:10px; padding:30px 20px 30px 10px; overflow:hidden; width:320px;}
	#secondary div {padding-bottom:20px;}
	#secondary ul div, #secondary ol div {padding-bottom:0;}
	
	/* Small */
	#small {position:relative; width:430px; padding:50px 0px 150px; margin:0 auto; background:#fff; text-align:left;}
	#small div {margin-bottom:20px;}


/* FOOTER --------------- */
body #footer {height:100px; margin:0 auto; background:url(images/footer.gif) right top repeat-x;}
#footer p {display:none;}
#footer span.powered_by {display:block; height:80px; width:910px; margin:0 auto; background:url(images/footer_bg.gif) top right no-repeat;}



/*	===================
	SECTIONS & PAGES
	===================*/

/*	HOME ----------------- */
body.home {background:url(images/body_bg.gif) left top repeat-x;}
body.home #page {background:none;}
body.home .head {background:url(images/fish_bg.gif) 410px 31px no-repeat;}
body.home #header {background:none;}
body.home #header .community_title a img {margin:20px 0 40px;}
body.home ul.navigation_top {display:none;}
body.home #section {display:none;}
body.home #page div#primary {width:930px; margin:0; padding:0;;}
body.home #content {padding:0; background-color:#fff; background-image:none; position:relative;}
body.home #community_promo {height:336px; padding:30px 0 0 280px; background:url(images/community_promo.jpg) 39px top no-repeat;}
body.home #community_promo h1 {text-align:center;}
body.home #community_promo p {color:#0e0b0d; padding:0 70px 0 100px; font:normal normal normal 14px/24px georgia, serif; letter-spacing:.08em;}
body.home #community_promo a.signup {display:block; height:84px; width:436px; margin-left:96px; background:url(images/signup_a.gif) top left no-repeat;}
body.home #community_promo a.signup:hover {background:url(images/signup_b.gif) top left no-repeat;}
body.home #community_promo a.signup p {display:none;}
body.home h1 {margin-bottom:0; font:normal normal normal 23px/50px arial, helvetica, serif; text-transform:uppercase; letter-spacing:.18em; color:#c69716;}
body.home div.banner {width:100%;}
body.home #page div.banner p a {display:block; padding-right:215px; line-height:50px; text-align:center; font:normal normal normal 23px/50px arial, helvetica, serif; text-transform:uppercase; letter-spacing:.22em; color:#fff; background:url(images/banner.gif) center top no-repeat;}
body.home #page div.banner p a:hover {text-decoration:none; background:url(images/banner2.gif) center top no-repeat;}
body.home #section_overview {position:relative; padding:20px 30px; overflow:hidden;}
body.home #section_overview div {position:relative; float:left; width:250px;}
body.home #section_overview div.discussions, body.home #section_overview div.people {margin-left:30px; padding-left:30px; background:url(images/section_divider.gif) top left no-repeat;}
body.home #section_overview h2 a {display:block; padding-top:170px; font:normal normal normal 23px/40px arial, helvetica, serif; letter-spacing:.16em; color:#ca9a16;}
body.home #section_overview .courses h2 {background:url(images/courses_graphic.gif) center top no-repeat;}
body.home #section_overview .discussions h2 {background:url(images/discussions_graphic.gif) center top no-repeat;}
body.home #section_overview .people h2 {background:url(images/people_graphic.gif) center top no-repeat;}
body.home #footer {width:100%; overflow:hidden; background:#a50b14 url(images/footer.gif) top left repeat-x; height:80px; text-align:center;}
body.home #footer p {display:none;}
body.home #footer span.powered_by {display:block; height:80px; width:910px; margin:0 auto; background:url(images/footer_bg.gif) top right no-repeat;}


/*	COURSE --------------- */
#primary ol.courses {}
#primary ol.courses li {padding:0 0 10px 30px; margin-bottom:20px; border-bottom:1px solid #e5e5e5; background:url(images/course_icon.gif) no-repeat 0px 1px;}
#primary ol.courses li h3 {display:inline;}
#primary a.action_sm {color:#99c903; padding-left:10px;}
#primary ol.courses p {margin-bottom:10px;}
#primary .course_description p {font: italic normal normal 15px/25px georgia, serif;}
#primary .info p {font:normal normal normal 14px/20px arial, sans-serif; margin:0; padding:0;}
div.chapter {text-transform:uppercase; border-bottom:1px solid #e5e5e5; color:#888; font: normal normal normal 13px/20px arial, sans-serif;}
div.chapter .chapter_title {display:block; float:left;}
div.chapter .chapter_actions {display:block; text-transform:none; text-align:right;}
	.chapter_actions .chapter_rename {margin-right:5px; padding-left:15px; background:url(images/chapter_edit.gif) left center no-repeat;}
	.chapter_actions .chapter_delete {margin-left:5px; padding-left:15px; background:url(images/chapter_delete.gif) left center no-repeat;}
#secondary h2 {color:#a50b14;}

/*	LESSON --------------- */
#lesson_placeholder #primary div.lesson_info {margin-bottom:20px; border-bottom:1px dashed #bbb;}
#secondary p.premium {padding:10px; border: 1px solid #C8C159; background:#FFFDC8; margin-bottom:20px;}
#secondary a.action {margin: 0 0 5px !important;}
#secondary .course {font: normal normal normal 16px/20px arial, sans-serif;}
#secondary .course .course_title p {font: normal normal normal 16px/20px arial, sans-serif; padding-bottom:10px; margin-bottom:0px; border-bottom:1px solid #e5e5e5;}
#secondary .course_title span {display:block; text-transform:uppercase; margin-bottom:5px; font: normal normal normal 14px/20px arial, sans-serif; color:#aaa;}
#secondary .course .lessons {margin-bottom:0px;}
#secondary .course .lessons li {font: normal normal normal 15px/20px arial, sans-serif; padding-bottom:5px; margin:0 0 5px 15px; border-bottom:1px solid #e5e5e5;}
#secondary .course .lessons ol li.current {padding:3px; background:#79869D; color:#fff;}
#content #secondary ul, #content #secondary ol {padding:0; margin:0;}

#secondary ul.actions {padding-bottom:20px !important;}



/*	DISCUSSIONS --------------- */
/* Index */
.discussions .discussion, .comments .commment {border-bottom:1px solid #e5e5e5; margin-left:60px; position:relative; display:block;}
.discussions .discussion span.avatar, .comments .comment .span.avatar {position:absolute; left:-60px; top:5px;}
#primary .discussions .discussion p {padding:0; margin:0;}
.discussions .discussion {}
#content #secondary ul.categories {padding-top:25px;}
#secondary .categories .current a {padding:3px; background:#79869D; color:#fff;}
	/* Meta info */
	.discussions .discussion .meta_info {padding:5px 0 0;}
/* Show */
#primary ol.comments {padding-top:20px; margin-top:5px; border-top:1px solid #e5e5e5;}
#primary ol.comments p {font: normal normal normal 14px/20px arial, sans-serif;}
ol.comments li {margin-bottom:20px; border-bottom:1px solid #e5e5e5;}
.comment_info {font-weight:bold;}

/*	PROFILE --------------- */
#user_profile .about, #user_profile .interests, #user_profile .websites {border-top:1px solid #e5e5e5; padding:10px 0 0; margin:0 !important; overflow:hidden;}
#user_profile h3 {display:block; width:100px; float:left; margin:0 10px 20px 0; font:normal normal normal 14px/20px arial, sans-serif; text-align:right; text-transform:uppercase;}
#user_profile div.section_body p {margin-top:0;}
#user_profile div.section_body {width:400px; float:right; padding:0; margin:0;}
img#profile_avatar {float:left; margin:0 10px 0 0;}
div.user_info {overflow:hidden;}
div.user_info h1 {padding-top:20px;}


/*	USERS  --------------- */
li.user {line-height:48px; padding-bottom:30px;}
.user_list {width:910px; float:left;}
.user_list li.user {display:block; overflow:hidden; float:left; width:273px; margin-right:30px;}





/*	===================
	MODULES & MISC
	===================*/


/* Forms */
form {padding-right:14px;}
label {font: normal normal normal 14px/20px arial, sans-serif; color:#000;}
input.text, label, textarea {display:block;}
input, textarea {margin-bottom:20px; max-width:100%;}
textarea, label, input.text {width:100%;}
textarea, input.text {padding:5px; font: normal normal normal 14px/18px arial, sans-serif; color:#555;}
#content #primary .plus_label {margin:5px 0 0;}
.plus_label {display:block; position:relative; overflow:hidden;}
.plus_label input {margin:4px 10px 10px 0; display:block; float:left;}
.plus_label label {display:block;}
form input.text {display:block; margin-bottom:20px;}
form input.single, form textarea.single {font-size:18px; line-height:20px;}
#new_community div.subdomain {overflow:hidden; margin-bottom:0; line-height:34px;}
#new_community #community_subdomain {width:50% !important; float:left; margin-right:10px;}
form input.medium, form textarea.medium {height:75px;}
form input.large, form textarea.large {height:250px;}

.grouped {margin-bottom:0;}
