<div id="main_content">
	<div class="title bar">
		<h2>Get in touch with the Evolutionary Marketer</h2>
	</div>
	<p>
		<strong>CEO:</strong> Sam Rosen<br />
		sam[at]thoughtlead[dot]com
	</p>
	<p>
		<strong>COO:</strong> Steve Haase<br />
		steve[at]thoughtlead[dot]com
	</p>
	<p>
		<strong>CMO:</strong> Christiana Briddell<br />
		christiana[at]thoughtlead[dot]com
	</p>
	<p>
		<strong>Technical Assistance:</strong> help[at]thoughtlead[dot]com
	</p>
	<dl class="contact">
		<dd>40 Ecstatic Way</dd>
		<dd>Lenox, MA 01240</dd>
		<dd>215.266.2019</dd>
	</dl>
</div>