<div id="header" class="content_area">
	<div id="logo">
		<h1><a href="/">ThoughtLead</a></h1>
		<p class="tagline">Do more with your ideas.</p>
	</div>
</div>
<hr />
<div id="navigation">
</div>
<hr />