<div id="footer"> 
  <p class="copyright">&copy; 2008 Verticality Group,  LLC.</p>
  <span class="powered_by"></span>
  <% form_tag :controller=>'search', :action=>'index' do %>
  	<%= text_field( :search_string, {}) %>
	<%= submit_tag 'Search' %> 
  <% end %>
</div>