<div id="footer">
	<div class="content_area">
		<p class="copyright">&copy; 2008 Verticality Group, LLC.</p>
		<p class="credit">Powered by <a href="http://thoughtlead.com/">Thoughtlead</a></p>
	</div>
</div>